annotated-types==0.7.0
asgiref==3.8.1
#Django==4.2.15
django-axes==7.0.1
django-environ==0.12.0
django-formtools==2.5.1
django-google-translate==1.1
django-otp==1.5.4
django-phonenumber-field==8.0.0
django-preventconcurrentlogins==0.8.2
django-qr-code==4.0.1
django-tinymce==4.1.0
django-two-factor-auth==1.17.0
extensions==0.4
gunicorn==22.0.0
importlib_metadata==8.5.0
packaging==24.1
phonenumbers==8.13.53
pillow==10.4.0
psycopg2-binary==2.9.9
pydantic==2.10.5
pydantic_core==2.27.2
pypng==0.20220715.0
qrcode==7.4.2
segno==1.6.1
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
whitenoise==6.7.0
zipp==3.21.0
