{% extends 'base.html' %}

{% block meta %}
  <meta name="description" content="Offshore Wind Energy Portal managed by the National Institute of Wind Energy (NIWE), Chennai, providing information on offshore wind projects, resource assessment, policy updates, and development initiatives under the Ministry of New and Renewable Energy (MNRE).">
  <meta name="keywords" content="offshore wind energy portal, NIWE Chennai, MNRE India, offshore wind projects, wind resource assessment, renewable energy development, wind energy policy, offshore wind data, NIWE offshore initiatives, wind energy information portal">
{% endblock %}

{% block title %} Offshore Wind Energy portal | National Institute of Wind Energy (NIWE), Ministry of New and Renewable Energy, Government of India {% endblock %}

{% block content %}

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Offshore Wind Energy portal</h1>
    </div>
  </div>
</section>  

<section class="dgm-div">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="wra-off-img text-center">
          <a href="javascript:void(0)" aria-label="Visit National Institute of Wind Energy homepage">
            <img
              src="/static/images/title-logo.png"
              alt="National Institute of Wind Energy homepage"
              class="img-fluid text-center"
              style="width: 15%"
            />
          </a>
        </div>

        <h4 class="pt-4"> Link:-
          <a href="offshore_EPD_Gujarat.html" class="text-dark linkIcon">
            NIWE Presentation and EPD (Energy and Petrochemicals Department),
            Gujarat Presentation. 
            </a><span class="label_blink notranslate">NEW</span>
        </h4>
      </div>
    </div>
  </div>
</section>

{% endblock %}
