{% extends 'base.html' %}

{% block meta %}
  <meta name="description" content="Current status of Wind Monitoring Stations established by the National Institute of Wind Energy (NIWE), Chennai, providing real-time updates on operational, commissioned, and decommissioned sites for wind resource assessment across India.">
  <meta name="keywords" content="wind monitoring stations, NIWE wind data, operational wind sites, wind assessment status, MNRE India, NIWE Chennai, renewable energy monitoring, wind potential analysis, wind station updates, India wind resource network">
{% endblock %}

{% block title %}Status of Wind Monitoring Stations | National Institute of Wind Energy (NIWE), Ministry of New and Renewable Energy, Government of India {% endblock %}

{% block content %}

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">
        Status of Wind Monitoring Stations {{ item.head}}
      </h1>
    </div>
  </div>
</section>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="{% url 'departments' %}">Department</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="{% url 'wra' %}">Wind Resource Assessment (WRA)</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Status of Wind Monitoring Stations {{ item.head}}
      </li>
    </ol>
  </nav>
</div>

<section class="rnd-div" id="divContent">
  <div class="container">
    <div class="row mx-auto col-12">
      <div class="col-md-8">
        <h4>Month: July 2025</h4>
        <div class="pt-2">
          <div class="table-responsive">
          <table class="table table-bordered w-100">
            <thead>
              <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Name of the Station</th>
                <th scope="col">District</th>
                <th scope="col">Mast height (m)</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th colspan="5">1. Ladakh</th>
              </tr>
              <tr>
                <td>1</td>
                <td>Shasithang</td>
                <td>Kargil</td>
                <td>50</td>
                <td>In operation</td>
              </tr>
              <tr>
                <th colspan="5">2. Andaman & Nicobar Islands</th>
              </tr>
              <tr>
                <td>1</td>
                <td>Sigmundera</td>
                <td>North & Middle Andaman</td>
                <td>100</td>
                <td>In operation</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Bharatpur</td>
                <td>Neil Island</td>
                <td>100</td>
                <td>In operation</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Mangulthan</td>
                <td>South Andaman</td>
                <td>100</td>
                <td>In operation</td>
              </tr>

              <tr>
                <td colspan="4">&nbsp</td>
                <td>&nbsp</td>
              </tr>
              <tr>
                <td colspan="4">
                  Total No. of Stations in operation at the end of July 2025
                </td>
                <td>4</td>
              </tr>
              <tr>
                <td colspan="4">
                  Total No. of Stations closed down in July 2025
                </td>
                <td>0</td>
              </tr>
              <tr>
                <td colspan="4">
                  Total No. of Stations Commissioned in July 2025
                </td>
                <td>0</td>
              </tr>
              <tr>
                <td colspan="4">
                  Total No. of Stations in operation as on 31.07.2025
                </td>
                <td>4</td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>

      <div class="col-md-4">{% include 'depart-side-tabs.html' %}</div>
    </div>
  </div>
</section>

{% endblock %}
