{% extends 'base.html' %}

{% block meta %}
  <meta name="description" content="Numerical wind analysis at the National Institute of Wind Energy (NIWE), Chennai: methods and results for mesoscale and microscale wind modeling, numerical simulations, wind resource assessment, and computational tools used to support offshore and onshore wind project planning under MNRE.">
  <meta name="keywords" content="NIWE numerical wind, wind modelling, mesoscale modeling, microscale modeling, CFD for wind, wind resource assessment, numerical simulation wind, wind atlas modeling, NIWE Chennai, offshore wind modeling, wind energy computational tools">
{% endblock %}

{% block title %} Numerical Wind | National Institute of Wind Energy (NIWE), Ministry of New and Renewable Energy, Government of India {% endblock %}

{% block content %}
{% load static %}

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Numerical Wind</h1>
    </div>
  </div>
</section>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="{% url 'departments' %}">Department</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="{% url 'wra' %}">Wind Resource Assessment (WRA)</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Numerical Wind</li>
    </ol>
  </nav>
</div>

<section class="rnd-div" id="divContent">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p style="text-align: justify;">
          &nbsp &nbsp &nbsp &nbsp NIWE in association with Riso DTU, Denmark has
          developed Numerical wind atlas of India. Numerical wind atlas
          methodologies have been devised to solve the issue of insufficient
          wind measurements. One such methodology is the so-called KAMM/WAsP
          method developed at Risø National Laboratory , Denmark
        </p>
        <p style="text-align: justify;">
          &nbsp &nbsp &nbsp &nbsp In this methodology an approach called
          statistical-dynamical downscaling is used (Frey-Buness et al, 1995).
          The basis for the method is that there is a robust relationship
          between meteorological situations at the large scale and
          meteorological situations at the small scale.
        </p>
        <p style="text-align: justify;">
          &nbsp &nbsp &nbsp &nbsp Karlsruhe Atmospheric Mesoscale Model (KAMM)
          is used to model the mesoscale effects on the wind flow over India
          using modeling domains. KAMM calculates the mesoscale wind field using
          as input a description of the synoptic-scale climatology, as well as
          suitable orography and roughness maps. The climatology of the
          post-processed simulated wind fields and the local orography and
          roughnesses are subsequently used by WAsP (Wind Atlas Analysis and
          Application Programme) to predict the local wind climate.
        </p>
        <p style="text-align: justify;">
          &nbsp &nbsp &nbsp &nbsp Creating a numerical wind atlas demands a
          large computational effort, and this computation effort increases with
          the size of the region to be mapped. India’s very large size means
          that it is not possible to perform the numerical wind atlas
          calculations at sufficient resolution for the whole country using a
          single modeling domain. Therefore it was decided to split the
          numerical wind atlas effort into twelve calculation domains ( See
          Fig.1).
        </p>

        <div class="col-md-7 offset-md-3">
          <img
            class="img-fluid"
            src="{%  static '/images/sub-gallery/wind_atlas_modeling.jpg' %}"
            alt="stations-map"
          />
          <p class="fs-6">
            Figure.1. Map of India showing the 12 modeling domains used. A
            complete numerical wind atlas calculation is made for each domain.
          </p>
        </div>

        <p style="text-align: justify;">
          &nbsp &nbsp &nbsp &nbsp The .lib files with 5 km resolution generated
          by KAMM have been verified with the .lib file generated by WAsP with
          reference to the actual measurements at very limited location. Summary
          of the verification for wind speed for each modeling domain at 10/20m
          agl. is given in table 2. ( For more details please refer Indian Wind
          Atlas book published by NIWE, Chennai)
        </p>
        <p style="text-align: justify;">
          &nbsp &nbsp &nbsp &nbsp The output of KAMM wind atlas file (.lib file)
          can be used as an input file of WAsP for the further analysis after
          the validation of results with nearby sites. Figure 2 gives an example
          of wind atlas file (.lib). This can also be referred to get an idea of
          wind characteristics over the given area at different height levels
          with reference to the roughness .
        </p>
        <div class="col-md-8 offset-md-2">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>S.NO</th>
                <th>Domain</th>
                <th>Nos. of stations used for verification</th>
                <th>Mean abs. error of wind speed at 10/20m (%)</th>
              </tr>
            </thead>
            <tbody>
              {% for item in num_wind  %}
              <tr>
                <td> {{ item.serial}} </td>
                <td>  {{ item.domain}} </td>
                <td> {{ item.number_station}} </td>
                <td> {{ item.error_of_wind_speed}} </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <p class="fs-6 fst-italic">
            Table 2. Summary of the verification for wind speed for each
            modeling domain at 10/20m agl.
          </p>
        </div>
        <div class="col-md-8 offset-md-3">
          <img
            class="img-fluid"
            src="{%  static '/images/sub-gallery/wind_atlas_file_format.jpg' %}"
            alt="stations-map"
          />
          <p class="fs-6">Fig 2 Format of wind atlas file (.lib)</p>
        </div>
        <div class="col-md-12">
          <h5>Numerical Atlas file (.lib) for Sale *</h5>
          <p style="text-align: justify;">
            &nbsp &nbsp &nbsp &nbsp In order to obtain the .lib file, the
            customer should send the required geographical coordinates along
            with a DD for an amount of Rs. 590/- (inclusive of GST) per
            coordinate. Soft copy (.lib) available for the nearest grid as well
            as copy of detailed regional wind atlas report in PDF format ( 5
            pages, sample is given ) through email will be provided to the
            customer. Interested customer may send the Demand Draft for Rs.
            590/- ( inclusive of GST) per coordinate in favour of "NATIONAL
            INSTITUTE OF WIND ENERGY, Payable at Chennai" or by RTGS transfer.
          </p>
          <p>
            <a href="{% static '/images/sub-gallery/Sample_Wind_Atlas_Report.pdf' %}">
              <b> Click here for Sample data of Numerical Wind Atlas Report </b>
            </a>
          </p>
          <h5>*DISCLAIMER</h5>
          <p class="fst-italic " style="text-align: justify;">
            The .lib files containing regional wind atlas were developed using
            KAMM-WAsP Methodology by M/s Riso DTU, Denmark , with a spatial grid
            resolution of 5 km , and validated with available surface wind data.
          </p>
          <p class="fst-italic" style="text-align: justify;">
            Site feasibility studies including direct measurements at turbine
            hub height according to wind energy industry standards should be
            conducted to confirm the wind speed and wind power density
            estimates. Weather deviations from long-term averages and local
            terrain effects may cause additional variations from the map
            estimates. Neither NIWE nor Riso-DTU make any guarantees or accept
            liability for the accuracy of the estimates presented in the data as
            these are only Meso scale derived values. Use of the maps and/or
            data for anything other than general information is solely at the
            risk of the user. NIWE/RISO-DTU may not be held liable for any loss,
            damage or other consequence resulting from the use of the maps
            and/or data contained on these files.
          </p>
        </div>
      </div>
      <div class="col-md-4">{% include 'depart-side-tabs.html' %}</div>
    </div>
  </div>
</section>

{% endblock %}
