{% extends 'base.html' %} 
{% block meta %}
<meta name="description" content="Explore the overview of tests and measurements carried out and ongoing at the National Institute of Wind Energy (NIWE), Chennai. This page details wind turbine performance evaluations, system testing, measurement protocols, and ongoing research projects under the Ministry of New and Renewable Energy."/>
<meta name="keywords" content="NIWE tests overview, wind turbine measurements, wind energy testing, MNRE, NIWE Chennai, wind power system evaluations, ongoing research projects, renewable energy testing, wind energy performance, wind turbine testing protocols"/>
{% endblock %} 

{% block title %} {{ item.title }} | National Institute of Wind Energy (NIWE), Ministry of New and Renewable Energy, Government of India {% endblock %} 

{% block content %}

<section class="head-div">
    <div class="overlay d-flex align-items-center">
        <div class="container">
            <h1 class="text-white">{{ item.title }}</h1>
        </div>
    </div>
</section>

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent p-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">
                <a href="{% url 'departments' %}">Department</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'testing_menu' %}"> Testing </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'depart_test_measure' %}">
                    Overview of Test and Measurements Carried Out and Ongoing</a
                >
            </li>

            <li class="breadcrumb-item active" aria-current="page">
                {{ item.title }}
            </li>
        </ol>
    </nav>
</div>

<section class="dgm-div" id="divContent">
    <div class="container col-12">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered w-100">
                    <thead class="text-center">
                        <tr>
                            <th>SI.No.</th>
                            <th>Year</th>
                            <th>Project Number</th>
                            <th>Type of Testing with Company Name</th>
                            <th>Agreement Signed</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for data in depart_type %}
                        <tr>
                            <td>{{ data.s_no }}</td>
                            <td>{{ data.year }}</td>
                            <td>{{ data.project_number }}</td>
                            <td>{{ data.testing_type_with_company_name }}</td>
                            <td>{{ data.agreement_signed }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}
