{% extends 'base.html' %}

{% block meta %}
  <meta name="description" content="Overview of Testing activities at the National Institute of Wind Energy (NIWE), Chennai, including wind turbine performance evaluation, system testing, measurement protocols, and quality assessment under the Ministry of New and Renewable Energy.">
  <meta name="keywords" content="NIWE testing, wind energy testing, MNRE, NIWE Chennai, turbine testing, wind power system evaluation, renewable energy testing, performance measurement, test protocols, wind energy research.">
{% endblock %}

{% block title %} Testing | National Institute of Wind Energy (NIWE), Ministry of New and Renewable Energy, Government of India {% endblock %}

{% block content %}

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Testing </h1>
    </div>
  </div>
</section>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="{% url 'departments' %}">Department</a>
      </li>
      <!-- <li class="breadcrumb-item active" aria-current="page">
        <a href = "{% url 'testing_menu'%}">Testing </a>
      </li> -->
      <li class="breadcrumb-item active" aria-current="page">
        Testing 
      </li>
    </ol>
  </nav>
</div>

<section class="rnd-div" id="divContent">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="accordion" id="TestingAccordion">
          {% for item in testing %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ forloop.counter }}">
              <button
                class="accordion-button {% if not forloop.first %}collapsed{% endif %}"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse{{ forloop.counter }}"
                aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                aria-controls="collapse{{ forloop.counter }}"
              >
                {{ item.title|safe }}
              </button>
            </h2>
            <div
              id="collapse{{ forloop.counter }}"
              class="accordion-collapse collapse {% if forloop.first %}hide{% endif %}"
              aria-labelledby="heading{{ forloop.counter }}"
              data-bs-parent="#TestingAccordion"
            >
              <div class="accordion-body">{{ item.description|safe }}</div>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="additional-info mt-5">
          <h5>Tests Carried Out</h5>
          link:-
          <a href="{% url 'depart_test_measure' %}" class="info-link linkIcon" style="color: #00899a; font-size: 16px">
            Click Here for Overview of Test and Measurements Carried Out and Ongoing
          </a>

          <h5 class="mt-4">Archives</h5>
          <ul class="list-unstyled">
            <li>link:-
              <a
                href="{% url 'testing_documents' %}"
                class="info-link linkIcon"
                style="color: #00899a; font-size: 16px"
                >Documents</a
              >
            </li>
            <li>
              link:-
              <a
                href="{% url 'testing_station_photo' %}"
                class="info-link linkIcon"
                style="color: #00899a; font-size: 16px"
                >Photos</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
