{% load static %}
<div class="depart-side-tabs">
    <ul>
        <li>
            <a  href="/static/pdf/depart-side-tabs/Elevation_certificate_MoD.pdf"  target="_blank" data-doc>
                Issuance of an elevation certificate for MoD NoC applications of Wind Power Projects
                <span class="label_blink notranslate">NEW</span>
            </a>
        </li>
        <li>
            <a href="/wind_potential"> Wind Potential Sites for setting up Wind Projects_MOD NOC details 
                <span class="label_blink notranslate">NEW</span>
            </a>
        </li>
        <li>
            <a href="{% static '/pdf/LIST_OF_WMS_AS_ON_31072025.pdf' %}"  target="_blank"  data-doc>
                List of Wind Monitoring Stations
            </a>
        </li>
        <li>
            <a href="{% url 'wra_status' %}">
                Status of Wind Monitoring Stations
            </a>
        </li>
        <li>
            <a href="{% url 'wra_sale' %}"> Publications for Sale </a>
        </li>
        <li>
            <a href="{% url 'wra_station_map' %}"> SRRA stations Map </a>
        </li>
        <li>
            <a href="{% url 'wra_srra_phases' %}">
                List of SRRA stations with co-ordinates
            </a>
        </li>
        <li>
            <a href="{% url 'wra_srra_station' %}">
                Consolidate list of SRRA Phase-I & Phase-II,MEDA, ANERT & AMS
            </a>
        </li>
        <li>
            <a  href="/static/pdf/calibration_under_commercial_mode.pdf" target="_blank"  data-doc>
                Calibration of solar instruments under commercial mode
            </a>
        </li>
        <li>
            <a  href="/static/pdf/Calibration_Requisition_Form.pdf"  target="_blank"   data-doc>
                Calibration requisition form
            </a>
        </li>
        <li>
            <a  href="https://maps.niwe.res.in/resource_map/map/120m/"  target="_blank"  class="external-link">
                Wind Power Potential at 120m agl
                <span class="label_blink notranslate">NEW</span>
            </a>
        </li>

        <li>
            <a  href="https://maps.niwe.res.in/resource_map/map/150m/"  target="_blank"  class="external-link">
                Wind Power Potential at 150m agl
                <span class="label_blink notranslate">NEW</span>
            </a>
        </li>
        <li>
            <a  href="https://maps.niwe.res.in/resource_map/map/20m/"  target="_blank"  class="external-link">
                Wind Power Potential at 20m agl
                <span class="label_blink notranslate">NEW</span>
            </a>
        </li>
        <li>
            <a  href="https://maps.niwe.res.in/resource_map/map/hybrid/"  target="_blank"  class="external-link">
                Hybrid Map
                <span class="label_blink notranslate">NEW</span>
            </a>
        </li>
        <li>
            <a  href="https://maps.niwe.res.in/resource_map/map/solar/"  target="_blank"  class="external-link">
                Indian Solar Radiation Atlas
                <span class="label_blink notranslate">NEW</span>
            </a>
        </li>

        <li>
            <a href="{% url 'wra_micro_servey' %}"> Micro Survey Report </a>
        </li>
        <li>
            <a href="{% url 'wra_power_estimate' %}">
                Estimation of Installable Wind Power Potential at 80 m level in
                India
            </a>
        </li>

        <li>
            <a href="{% url 'wra_wpd_map' %}"> WPD Map </a>
        </li>

        <li>
            <a href="{% url 'wra_numerical_wind' %}">
                Numerical Wind Atlas Files of India
            </a>
        </li>
    </ul>
</div>
