{% extends 'base.html' %}
 {% block meta %}
   <meta  name="description"  content="FOWPI (Feasibility of Offshore Wind Power in India) Report by the National Institute of Wind Energy (NIWE), Chennai, providing detailed analysis, feasibility studies, and recommendations for offshore wind energy development under the Ministry of New and Renewable Energy (MNRE)."/>
   <meta  name="keywords"  content="FOWPI report, offshore wind feasibility India, NIWE Chennai, MNRE India, offshore wind analysis, wind energy development, renewable energy feasibility, offshore wind projects, wind potential assessment, NIWE offshore report"/>
{% endblock %}
{% block title %} FOWPI Report | National Institute of Wind Energy (NIWE), Ministry of New and Renewable Energy, Government of India {% endblock %}
{% block content %}
<!-- nav end  -->

<section class="head-div">
    <div class="overlay d-flex align-items-center">
        <div class="container">
            <h1 class="text-white">FOWPI Report</h1>
        </div>
    </div>
</section>

<section class="rnd-div" id="divContent">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul>
                    <li>
                        <a href="">FOWIND Policy Outlook</a>
                    </li>
                    <li>
                        <a href="">
                            FOWIND Pre Feasiblity Study on Gujarat
                        </a>
                    </li>
                    <li>
                        <a href="">
                            FOWIND Pre Feasiblity Study on Tamil nadu
                        </a>
                    </li>
                    <li>
                        <a href="">
                            FOWIND Supply Chain Report
                        </a>
                    </li>
                    <li>
                        <a href="">
                            FOWIND Feasiblity Study on Gujarat
                        </a>
                    </li>
                    <li>
                        <a href="">
                            FOWIND Feasiblity Study on Tamil Nadu
                        </a>
                    </li>
                    <li>
                        <a href="">
                            FOWIND Report on Road map 0 to 5 GW
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="depart-side-tabs">
                    <ul>
                        <li>
                            <a href="/statics/images/EIA_report.pdf" aria-label="Open EIA Report" data-doc>
                                EIA Report
                                <span class="label_blink notranslate">NEW</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://mnre.gov.in/" aria-label="Open Offshore Strategy Paper">
                                Offshore Strategy Paper
                                <span class="label_blink notranslate">NEW</span>
                            </a>
                        </li>

                        <li>
                            <a href="department_wra&o_fowind_report.html" aria-label="open FOWIND Report">
                                FOWIND Report
                            </a>
                        </li>

                        <li>
                            <a href="fowpi_report.html" aria-label="Open FOWPI Report"> FOWPI Report </a>
                        </li>

                        <li>
                            <a href="fowpi_workshop_presentation.html" aria-label="Open FOWPI Workshop Presentations">
                                FOWPI Workshop Presentations
                            </a>
                        </li>

                        <li>
                            <a href="department_owd_lidar_raw_data.html" aria-label="open Offshore LiDAR raw data">
                                Offshore LiDAR raw data
                            </a>
                        </li>

                        <li>
                            <a href="department_wra&o_offshore_portal.html" aria-label="open Offshore Wind Energy Portal">
                                Offshore Wind Energy Portal
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
