{% load static %}
<div class="depart-side-tabs">
    <ul>
        <li>
            <a href="{% static '/pdf/EIA_report.pdf' %}" target="blank" data-doc aria-label="open EIA Report">
                EIA REPORT
                <span class="label_blink notranslate">NEW</span>
            </a>
        </li>
        <li>
            <a href="/static/pdf/202309271030958532.pdf" target="blank" data-doc aria-label="Open Offshore Strategy Paper">
                Offshore Strategy Paper
                <span class="label_blink notranslate">NEW</span>
            </a>
        </li>
        <li>
            <a href="/fowind_report/"aria-label="Open FOWIND Report"> FOWIND Report </a>
        </li>
        <li>
            <a href="/fowpi_report/" aria-label="Open FOWPI Report"> FOWPI Report </a>
        </li>
        <li>
            <a href="/fowpi_workshop_presentation/" aria-label="Open FOWPI Workshop Presentations">FOWPI Workshop Presentations</a>
        </li>
        <li>
            <a href="/offshore_lidar/" aria-label="Open Offshore LiDAR Raw data"> Offshore LiDAR Raw data </a>
        </li>
        <li>
            <a href="/offshore_EPD_Gujarat/" aria-label="Open  Offshore Wind Energy portal "> Offshore Wind Energy portal </a>
        </li>
    </ul>
</div>
