{% extends 'base.html' %} 
{% block meta %}
<meta  name="description"  content="Access Offshore LiDAR raw data files (*.STA & *.RTD) collected by the National Institute of Wind Energy (NIWE) at the Gulf of Khambhat, off the Gujarat coast. This data supports wind resource assessment, turbine performance analysis, and offshore wind energy research under the Ministry of New and Renewable Energy."/>
<meta  name="keywords"  content="NIWE offshore LiDAR data, STA files, RTD files, Gulf of Khambhat, wind resource assessment, offshore wind data, wind turbine performance, MNRE, NIWE Gujarat coast, renewable energy research, wind energy measurements"/>
{% endblock %}

{% block title %}Offshore LiDAR Raw Data | National Institute of Wind Energy (NIWE), Ministry of New and Renewable Energy, Government of India {% endblock %} 

{% block content %}
<!-- nav end  -->

<section class="head-div">
    <div class="overlay d-flex align-items-center">
        <div class="container">
            <h1 class="text-white">
                Offshore LiDAR raw data (*.STA & *.RTD files) at Gulf of
                Khambhat off Gujarat coast.
            </h1>
        </div>
    </div>
</section>

<section class="dgm-div">
    <div class="container">
        <div class="row">
            <div class="col-md-8" id="divContent">
                <h5 class="pb-3">
                    Offshore LiDAR 1st year raw data Dec 2017 - Nov 2018
                </h5>
                <ul>
                    <a href=""
                        ><li>
                            Offshore LiDAR raw data (*.STA & *.RTD files) (18.6
                            GB)
                        </li></a
                    >
                    <a href=""
                        ><li>
                            Installation & Maintenance reports submitted by M/s
                            Meteopole.
                        </li></a
                    >
                    <a href=""><li>Jafarabad Coastal data.</li></a>
                    <a href=""
                        ><li>
                            Platform level anemometer calibration certificate
                        </li></a
                    >
                    <a href=""><li>LiDAR Validation report</li></a>
                    <a href=""
                        ><li>
                            First offshore Lidar wind data analysis report
                        </li></a
                    >
                </ul>

                <h5 class="pb-3 pt-2">
                    Offshore LiDAR 2nd year raw data Dec 2018 - Nov 2019
                    <span class="label_blink notranslate">NEW</span>
                </h5>

                <ul>
                    <a href=""
                        ><li>
                            Report on first offshore LiDAR Wind Data (2nd year)
                            analysis (.pdf)
                        </li></a
                    >
                    <a href=""
                        ><li>
                            Offshore LiDAR raw data (*.STA & *.RTD files) (14.7
                            GB)
                        </li></a
                    >
                    <a href=""><li>Jafrabad Coastal data (.txt)</li></a>
                    <a href=""><li>Extracted LiDAR data (.txt)</li></a>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="depart-side-tabs">
                    <ul>
                        <li>
                            <a href="/statics/images/EIA_report.pdf" data-doc>
                                EIA Report
                                <span class="label_blink notranslate">NEW</span>
                            </a>
                        </li>

                        <li>
                            <a href="https://mnre.gov.in/">
                                Offshore Strategy Paper
                                <span class="label_blink notranslate">NEW</span>
                            </a>
                        </li>

                        <li>
                            <a href="department_wra&o_fowind_report.html">
                                FOWIND Report
                            </a>
                        </li>

                        <li>
                            <a href="fowpi_report.html"> FOWPI Report </a>
                        </li>

                        <li>
                            <a href="fowpi_workshop_presentation.html">
                                FOWPI Workshop Presentations
                            </a>
                        </li>

                        <li>
                            <a href="department_owd_lidar_raw_data.html">
                                Offshore LiDAR raw data
                            </a>
                        </li>

                        <li>
                            <a href="department_wra&o_offshore_portal.html">
                                Offshore Wind Energy Portal
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
