{% extends 'base.html' %}

{% block meta %}
  <meta name="description" content="Learn about Offshore Wind Development initiatives by the National Institute of Wind Energy (NIWE), Chennai. This page covers offshore wind resource assessment, project planning, turbine testing, research, and policy support under the Ministry of New and Renewable Energy.">
  <meta name="keywords" content="NIWE offshore wind development, wind energy projects, MNRE, NIWE Chennai, offshore wind resource assessment, turbine testing, wind energy research, renewable energy projects, wind farm planning, offshore wind policy">
{% endblock %}

{% block title %} Offshore Wind Development | National Institute of Wind Energy (NIWE), Ministry of New and Renewable Energy, Government of India {% endblock %}

{% block content %}

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Offshore Wind Development</h1>
    </div>
  </div>
</section>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="{% url 'departments' %}">Department</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Offshore Wind Development
      </li>
    </ol>
  </nav>
</div>

<section class="rnd-div" id="divContent">
  <div class="container">
    <div class="row">
      <div class="col-md-8" id="divContent">
    <!-- accordian start-->
    <div class="row" >
      <div class="accordion" id="accordionExample">
        {% for item in owd %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading{{ forloop.counter }}">
            <button
              class="accordion-button {% if not forloop.first %}collapsed{% endif %}"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse{{ forloop.counter }}"
              aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
              aria-controls="collapse{{ forloop.counter }}"
            >
              {{ item.title|safe }}
            </button>
          </h2>
          <div
            id="collapse{{ forloop.counter }}"
            class="accordion-collapse collapse {% if forloop.first %}hide{% endif %}"
            aria-labelledby="heading{{ forloop.counter }}"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">{{ item.description|safe }}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- accordian end-->
        <!--div close for tab-pane-->
      </div>
      <div class="col-md-4">{% include 'departments-owd-side-tabs.html' %}</div>
    </div>
  </div>
</section>

{% endblock %}
