<div class="depart-side-tabs">
    <ul>
        <li>
            <a href="{% url 'wra_srra_phases' %}"> PHASE - I </a>
        </li>
        <li>
            <a href="{% url 'wra_srra_phaseII' %}"> PHASE - II </a>
        </li>
        <li>
            <a href="{% url 'wra_srra_station_meda' %}"> MEDA </a>
        </li>
        <li>
            <a href="{% url 'wra_srra_station_anert' %}"> ANERT </a>
        </li>
        <li>
            <a href="{% url 'wra_srra_station_ams' %}"> AMS </a>
        </li>
    </ul>
</div>
