{% extends 'base.html' %}

{% block meta %}
  <meta name="description" content="Explore career opportunities at the National Institute of Wind Energy (NIWE), Chennai. Find information on current job openings, recruitment notifications, application procedures, and guidelines to join India’s premier wind energy research and development institute under the Ministry of New and Renewable Energy.">
  <meta name="keywords" content="NIWE careers, wind energy jobs India, NIWE recruitment, MNRE job openings, wind power employment, NIWE Chennai vacancies, renewable energy careers, wind turbine industry jobs, NIWE notifications, wind energy research jobs">
{% endblock %}

{% block title %} Careers | National Institute of Wind Energy (NIWE), Ministry of New and Renewable Energy, Government of India {% endblock %}

{% block content %}

{% load static %}
<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Careers</h1>
    </div>
  </div>
</section>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Careers</li>
    </ol>
  </nav>
</div>

<section class="careers-sec" id="divContent">
  <div class="container">
    <h5>RECRUITMENT</h5>&nbsp;&nbsp;
	
	  
    <p class="mx-2">
      <a href=" {% static 'pdf/careers/Result_AdvtNo_01_2025.pdf' %}" target="_blank" data-doc> Results of the Walk in Interview held on 27.09.2025 for the 
         Advertisement No. 01 / 2025 dated 10.09.2025 <span class="label_blink notranslate">NEW</span></a>
    </p>
    <p class="mx-2">
      <a href=" {% static 'pdf/careers/Corrigendum_Advt_01_2025.pdf' %}" target="_blank" data-doc> Corrigendum for the 
         Advertisement No. 01 / 2025 dated 10.09.2025 </a>
    </p>

    <p class="mx-2">
      Recruitment Notification (Advertisement No.01/2025 dated 10.09.2025) for the following contractual posts: 
    </p>
    
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="table-success">
          <tr class="text-center">
            <th scope="col">Sl.No</th>
            <th scope="col">Advertisement No.</th>
            <th scope="col">Name of the Post</th>
            <th scope="col">Application Form</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td >1</td>
            <td rowspan="3" class="text-center align-middle">
              <a href="{% static 'pdf/careers/Advt_01_2025.pdf' %}" target="_blank" data-doc>
                Advt No.01/2025
              </a>
            </td>
            <td>Web Developer, Database Management, Portal Maintenance (VSDP-WD-01) - 01 No.</td>
            <td class="text-center align-middle">
              <a href="{% static 'pdf/careers/Advt012025_Application_form_VSDP-WD-01.pdf' %}" target="_blank" data-doc>
                Application Download
              </a>
            </td>
          </tr>
          <tr>
            <td >2</td>
            <td>Program Coordinator - Technical (VSDP-PCT-02) - 01 No.</td>
			<td class="text-center align-middle">
              <a href="{% static 'pdf/careers/Advt012025_Application_form_VSDP-PCT-02.pdf' %}" target="_blank" data-doc>
                Application Download
              </a>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Project Coordinator - Finance (VSDP-PCF-03) - 01 No.</td>
		    <td class="text-center align-middle">
              <a href="{% static 'pdf/careers/Advt012025_Application_form_VSDP-PCF-03.pdf'%}" target="_blank" data-doc>
                Application Download
              </a>
            </td>
          </tr>       
         
        </tbody>
      </table>
    </div>

    <br>

    <p class="mx-2">
      <a href=" {% static 'pdf/careers/Result_of_Interview_Advt_03_2024.pdf' %}" target="_blank" data-doc>Result of Interview for the post 
        advertised vide Advertisement No. 03 / 2024 dated 31.12.2024 </a>
    </p>

    
    <p class="mx-2">
      <a href=" {% static 'pdf/careers/Schedule_of_Interview_Advt_03_2024.pdf' %}" target="_blank" data-doc>Schedule of Interview for the post 
        advertised vide Advertisement No. 03 / 2024 dated 31.12.2024</a>
    </p>

    <p class="mx-2">      
      Status of the application in connection with the Recruitment Notification (Advertisement No.03/2024 Dated 31.12.2024)
           
  </p>
    <ul class="recruitment-list" >
      <li> 
        <a href="{% static 'pdf/careers/Shortlisted_Application_ADVT_03_2024.pdf' %}" target="_blank" data-doc> Shortlisted Applications</a>
      </li>
      <li>
        <a href="{% static 'pdf/careers/Provisionaly_shortlisted_ADVT_03_2024.pdf' %}" target="_blank" data-doc>Provisionally shortlisted Applications </a>
        <b>(Subject to submission of required documents at the time of certificate verification in original).</b>
      </li>
      <li>
        <a href="{% static 'pdf/careers/Rejected_Application_ADVT_03_2024.pdf' %}" target="_blank" data-doc>Rejected Applications</a>
      </li>
      <li>
        Due to the low number of shortlisted applications, re-advertisement for the Post Code TES-03 - Project
        Consultant will be issued shortly.
      </li>
    </ul>       
    <p>
    <b>Note: Date of Written Test and/or Interview will be intimated shortly.</b>
     
    </p>

    <p class="mx-2">
      <a href=" {% static 'pdf/careers/AdvtNo.03-2024.pdf' %}" target="_blank" data-doc>Extension of due date - The last date for receipt of application has been extended until 30.01.2025 at 05:00PM including far-flung areas. (Advt.No.03/2024 dated 31.12.2024) </a>
    </p>

    <p class="mx-2">
      Recruitment Notification (Advertisement No.03/2024) for the following contractual posts:
    </p>
    
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="table-success">
          <tr class="text-center">
            <th scope="col">Sl.No</th>
            <th scope="col">Advertisement No.</th>
            <th scope="col">Name of the Post</th>
            <th scope="col">Application Form</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td >1</td>
            <td rowspan="11" class="text-center align-middle">
              <a href="{% static 'pdf/careers/AdvtNo.03-2024.pdf' %}" target="_blank" data-doc>
                Advt No.03/2024
              </a>
            </td>
            <td>Project Engineer Grade I (S&R-01) - 02 Nos.</td>
            <td rowspan="11" class="text-center align-middle">
              <a href="{% static 'pdf/careers/Application_Format_F&A_On_contract2024.pdf' %}" target="_blank" data-doc>
                Application Download
              </a>
            </td>
          </tr>
          <tr>
            <td >2</td>
            <td>Project Engineer Grade I (TES-02) - 02 Nos.</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Project Consultant (TES-03) - 01 No.</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Project Staff - Technical (TES-04) - 01 No.</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Project Coordinator Level - I (SDT-05) - 01 No.</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Project Coordinator Level - II (SDT-06) - 01 No.</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Project Engineer Grade I (C&IT-07) - 02 Nos.</td>
          </tr>
          <tr>
            <td>8</td>
            <td>Project Engineer Grade I (C&IT-08) - 01 No.</td>
          </tr>
          <tr>
            <td>9</td>
            <td>Project Engineer Grade II (OWD-09) - 01 No.</td>
          </tr>
          <tr>
            <td>10</td>
            <td>Project Engineer Grade II (OWD-10) - 01 No.</td>
          </tr>
          <tr>
            <td>11</td>
            <td>Project Engineer Grade II (WRA-11) - 04 Nos.</td>
          </tr>
        </tbody>
      </table>
    </div>


    <br>
    <p class="mx-2">
      <a href="{% static 'pdf/careers/Cancellation_of_Notification_02-2022.pdf' %}" target="_blank" data-doc>
      Cancellation of Recruitment Notification (Advt. No. 02/2022) for the following posts: </a> 
      <ul >
        <li>Assistant Director</li>
        <li>Executive Assistant</li>
        <li>Junior Engineer</li>
        <li>Junior Engineer</li>
        <li>Junior Executive Assistant</li>
      </ul></p>
     

    <p class="mx-2">
      <a
        href="{% static 'pdf/careers/Cancellation_of_Advt.No.022024_F&A_WRA-02.pdf' %}"
        target="_blank"
        class="t"
        data-doc
        >Cancellation of Recruitment Notification (Advt.No.02/2024) for the post of Project Engineer (Post Code No. F&A-WRA-02)</a
      >
    </p>

    <p class="mx-2">
      Recruitment Notification (Advertisement No.02/2024) for the posts of Project Engineer : 
    </p>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="table-success">
          <tr class="text-center">
            <th scope="col">Sl.No</th>
            <th scope="col" colspan="2">Advertisement No.</th>
            <th scope="col">Name of the Post</th>
            <th scope="col">Application Form</th>
            <th scope="col">Apply</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">1</td>
            <td colspan="2" class="text-center">
              <a href="{% static 'pdf/careers/Advertisement_No.02-2024.pdf' %}" target="_blank" data-doc>
                Advt No.02/2024
              </a>
            </td>
            <td>Project Engineer</td>
            <td class="text-center">
              <a href="{% static 'pdf/careers/Application-Advt_No.02-2024.pdf' %}" target="_blank" data-doc>
                Application Download
              </a>
            </td>
            <td>
              <strong>Walk-In-Interview on 29.07.2024</strong>
              <ul>
                <li><strong>Venue:</strong> Video Conference Hall, NIWE</li>
                <li><strong>Interview Commences:</strong> 10:30 AM</li>
                <li><strong>Documents Verification:</strong> 09:00 AM</li>
              </ul>
              <p ><em>(Latecomers after 10:30 AM will not be considered for interview)</em></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <p class="mx-2">
      Recruitment Notification (Advertisement No.01/2024) for the posts of
      Administrative Executive,Accounts Executive,Purchase Executive & Security
      Officer:
    </p>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="table-success">

          <tr class="text-center">
            <th scope="col">Sl.No</th>
            <th scope="col" colspan="2">Advertisement No.</th>
            <th scope="col">Name of the Post</th>
            <th scope="col">Application Form</th>
            <th scope="col">Result</th>
          </tr>
          
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td colspan="2">
              <a
                href="{% static 'pdf/careers/Advertisement_No.01-2024.pdf' %}"
                target="blank"
                 data-doc=""
                >Advt No.01/2024</a
              >
            </td>
            <td>
              Administrative Executive,Accounts Executive,Purchase Executive &
              Security Officer
            </td>
            <td>
              <a
                href="{% static 'pdf/careers/Application_Advt No.01-2024.pdf' %}"
                target="_blank"
                data-doc
                >Application Download</a
              >
            </td>
            <td>
              <a
                href="{% static 'pdf/careers/Result_Advt No.01-2024.pdf' %}"
                target="_blank"
                 data-doc
                >Result of Walk-In-Interview held on 15.02.2024 & 16.02.2024
                against NIWE Advt No.01/2024 Dt.06.02.2024
                </a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <p class="mx-3">
      <a href="{% static 'pdf/careers/Advt No.03-2002_25.10.2022.pdf' %}"  data-doc  target="blank"  class="t">
        Recruitment Notification (Advertisement No.03/2022) for the following
        contractual posts of :</a>
    </p>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="table-success">
          <tr class="text-center">
            <th scope="col">Sl.No</th>
            <th scope="col" colspan="2">Advertisement No.</th>
            <th scope="col">Name of the Post</th>
            <th scope="col">Date Extension</th>
            <th scope="col">Status</th>
            <th scope="col">Result</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td
              colspan="2"
              rowspan="8"
              style="text-align: center; vertical-align: middle"
            >
              <a
                href="{% static 'pdf/careers/Advt No.03-2002_25.10.2022.pdf' %}"
                target="blank"
                 data-doc
                >Advt No.03/2022</a
              >
            </td>
            <td scope="col">Program Coordinator - Management - 01 No.</td>
            <td  scope="col"  rowspan="8"  style="text-align: center; vertical-align: middle">
              <a  href="{% static 'pdf/careers/Notification of Date Extension_Advt.no_03_2022.pdf' %}"  data-doc  target="_blank"  >Notification for Extension of submission of application through  online against Advt.no:03/2022</a>
            </td>
            <td scope="col">
              <a   href="{% static 'pdf/careers/Advt3_Program_Coordinator-Management.pdf' %}"   target="_blank"    data-doc   >List of Shortlisted / Not Shortlisted Candidates</a >
            </td>
            <td scope="col" rowspan="8" style="text-align: center; vertical-align: middle">
              <a  href="{% static 'pdf/careers/Result_AdvtNo_03-2022.pdf' %}"  target="_blank"   data-doc >
                Result of Selected/ Waitlisted Candidates for contractual posts
                against Advt No.03/2022 dated 25.10.2022
              </a>
            </td>
          </tr>

          <tr>
            <th scope="row">2</th>

            <td scope="col">Program Coordinator - Financial - 01 No.</td>

            <td scope="col">
              <a href="{% static 'pdf/careers/Advt3_Program_Coordinator-Financial.pdf' %}" target="_blank" data-doc>
                List of Shortlisted / Provisionally Shortlisted / Not Shortlisted Candidates
              </a>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td scope="col">Project Assistant - Technical - 01 No.</td>
            <td scope="col">
              <a href="{% static 'pdf/careers/Advt3_Project_Assistant-Technical.pdf' %} " target="_blank" data-doc>List of Shortlisted / Not Shortlisted Candidates</a>
            </td>
          </tr>

          <tr>
            <th scope="row">4</th>
            <td scope="col">Project Assistant Grade - I - 07 Nos.</td>
            <td scope="col">
              <a href="{% static 'pdf/careers/Advt3_Project_Assistant-Grade1.pdf' %}" target="_blank" data-doc >List of Shortlisted / Provisionally Shortlisted / Not Shortlisted Candidates</a>
            </td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td scope="col">Project Assistant Grade - II - 03 Nos.</td>
            <td scope="col">
              <a  href="{% static 'pdf/careers/Advt3_Project_Assistant-Grade2.pdf'  %}"  target="_blank"  data-doc>
                List of Shortlisted / Not Shortlisted Candidates
                </a>
            </td>
          </tr>
          <tr>
            <th scope="row">6</th>

            <td scope="col">
              Project Engineer Grade - I (Mechanical / Aeronautical) - 01 No.
            </td>

            <td scope="col">
              <a  href="{% static 'pdf/careers/Advt3_Project_Engineer-Grade1_PEGI-01.pdf' %}"  target="_blank"  data-doc  >List of Shortlisted / Not Shortlisted Candidates</a>
            </td>
          </tr>
          <tr>
            <th scope="row">7</th>

            <td scope="col">
              Project Engineer Grade - I (Electrical) - 01 No.
            </td>

            <td scope="col">
              <a  href=" {% static 'pdf/careers/Advt3_Project_Engineer-Grade1_PEGI-02.pdf' %}"  target="_blank"  data-doc  >List of Shortlisted / Not Shortlisted Candidates</a>
            </td>
          </tr>

          <tr>
            <th scope="row">8</th>
            <td scope="col">
              Project Engineer Grade - I (Mechanical / Aeronautical) - 01 No.
            </td>
            <td scope="col">
              <a  href=" {% static 'pdf/careers/Advt3_Project_Engineer-Grade1_PEGI-03.pdf' %}"  target="_blank"  data-doc>
               List of Shortlisted / Provisionally Shortlisted / Not Shortlisted Candidates
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <p>
      <a  href="{% static 'pdf/careers/Notification_Extn_Date_JE_06.09.2022.pdf' %}"  target="_blank"  class="t"  data-doc>
        Extension of Last date of Online application for the posts of Junior
        Engineer (EWS & UR), (Advt.No.02/2022 dated 28.07.2022)
      </a>
    </p>
    <p>
      <a href="{% static 'pdf/careers/Cancellation Advt No.08-2021_IWSRA Posts.pdf' %}" target="_blank" class="t" data-doc>
        Cancellation of Recruitment Notification (Advt.No.08/2021) for the posts of
      </a>
    </p>

    <ul>
      <li>
        <a href="{% static 'pdf/careers/Cancellation Advt No.08-2021_IWSRA Posts.pdf' %}" data-doc>
          Project Assistant Grade-I (Post Code : WSOM-IWSRA-PA-I)
        </a>
      </li>
      <li>
        <a href="{% static 'pdf/careers/Cancellation Advt No.08-2021_IWSRA Posts.pdf' %}" data-doc>
          Project Assistant Grade-II (Post Code : WSOM-IWSRA-PA-II)
        </a>
      </li>
    </ul>

    <p>
      <a  href="{% static 'pdf/careers/Advt No.02-2022_Asst.Dir(F&A)_EA_JEA_JE.pdf' %}"  target="_blank"  data-doc>
        Recruitment Notification (Advertisement No.02/2022) for the posts of:</a>
    </p>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="table-success">
          <tr class="text-center">
            <th scope="col">Sl.No</th>
            <th scope="col" colspan="2">Advertisement No.</th>
            <th scope="col">Name of the Post</th>

            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr>
            <th scope="row">1</th>
            <td  colspan="2"  rowspan="8"  style="text-align: center; vertical-align: middle">
              <a href="{%  static 'pdf/careers/Advt No.02-2022_Asst.Dir(F&A)_EA_JEA_JE.pdf' %}" target="blank"  data-doc>
                Advt No.02/2022
              </a>
            </td>
            <td scope="col">Assistant Director - Finance & Administration</td>

            <td  scope="col"  rowspan="8"  style="text-align: center; vertical-align: middle">
              <a href="https://recruitment.niwe.res.in/" target="blank" > 
                Apply Here
              </a>
            </td>
          </tr>

          <tr>
            <th scope="row">2</th>

            <td scope="col">Executive Assistant</td>
          </tr>

          <tr>
            <th scope="row">3</th>

            <td scope="col">
              Junior Engineer
              <b>
                  <a href="{% static 'pdf/careers/Notification_Extn_Date_JE_06.09.2022.pdf' %}" target="blank" class="t" data-doc >
                  (Last date extended upto 26.09.2022)
                  </a>
              </b>
            </td>
          </tr>

          <tr>
            <th scope="row">4</th>

            <td scope="col">Junior Executive Assistant</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p>
      <a  href="{% static 'pdf/careers/Advt.No.01-2022_12.04.2022.pdf' %}"  class="t"  target="blank"  data-doc>
        Recruitment to the contractual posts of :
      </a>
    </p>

    <p>
      <a  href="/static/pdf/careers/Interview_Result-Advt.No.01-2022.pdf"  target="blank"  class="t"  data-doc>
        Result of Interview held on 08.07.2022 against NIWE Advt.no.01/2022 Dt  12.04.2022
      </a>
    </p>

    <p>
      <a  href="/static/pdf/careers/notification_for_Extension_of_Advt.no_01_2022.pdf"  class="t"  data-doc>
        Notification for Extension of submission of application through online  against Advt.no:01/2022
      </a>
    </p>

    <p>
      <a  href="/static/pdf/careers/Amendment_for_Advt.no_01_2022.pdf"  class="t"  data-doc >
        Amendment for Essential qualification against Advt. no:01/2022
      </a>
    </p>
    <div class="table-responsive">
      <table class="table table-bordered w-100">
        <thead class="table-success">
          <tr class="text-center">
            <th scope="col">Sl.No</th>
            <th scope="col" colspan="2">Advertisement No.</th>
            <th scope="col">Name of the Post</th>

            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td  colspan="2"  rowspan="8"  style="text-align: center; vertical-align: middle">
              <a  href="/static/pdf/careers/Advt.No.01-2022_12.04.2022.pdf"  data-doc >
                Advt No.01/2022
              </a>
            </td>
            <td scope="col">Program Coordinator - Technical - 01 No.</td>

            <td scope="col">
              <a  href="/static/pdf/careers/Program_Coordinator-Technical-01_No.pdf"  data-doc>
                List of Provisionally Shortlisted / Not Shortlisted  Candidates
              </a>
            </td>
          </tr>

          <tr>
            <th scope="row">2</th>

            <td scope="col">Program Coordinator - Management - 01 No.</td>
            <td scope="col">
              <a  href="/static/pdf/careers/Program_Coordinator-Management-01_No.pdf"  data-doc>
                List of Provisionally Shortlisted / Not Shortlisted  Candidates
              </a>
            </td>
          </tr>

          <tr>
            <th scope="row">3</th>

            <td scope="col">Program Coordinator - Financial-01 No.</td>
            <td scope="col">
              <a  href="/static/pdf/careers/Program_Coordinator-Financial-01_No.pdf"  data-doc  >
                List of Provisionally Shortlisted / Not Shortlisted  Candidates
              </a>
            </td>
          </tr>

          <tr>
            <th scope="row">4</th>

            <td scope="col">
              Web Designer, Database Management, Portal Maintenance - 01 No.
            </td>
            <td scope="col">
              <a  href="/static/pdf/careers/Web_Designer,Database_Management,Portal_Maintenance-01_No.pdf"  data-doc >
                List of Provisionally Shortlisted / Not Shortlisted  Candidates
              </a>
            </td>
          </tr>

          <tr>
            <th scope="row">5</th>

            <td scope="col">Project Assistant - Technical - 01 No.</td>
            <td scope="col">
              <a  href="/static/pdf/careers/Project_Assistant-Technical-01_No.pdf"  data-doc >
                List of Provisionally Shortlisted / Not Shortlisted  Candidates
              </a>
            </td>
          </tr>

          <tr>
            <th scope="row">6</th>

            <td scope="col">Project Assistant - Financial - 01 No.</td>
            <td scope="col">
              <a  href="/static/pdf/careers/Project_Assistant-Financial-01_No.pdf"  data-doc>
                List of Provisionally Shortlisted / Not Shortlisted  Candidates
              </a>
            </td>
          </tr>

          <tr>
            <th scope="row">7</th>

            <td scope="col">Senior Research Fellow - 01 No.</td>
            <td scope="col">
              <a  href="/static/pdf/careers/Senior_Research_Fellow-01_No.pdf"  data-doc>
                List of Provisionally Shortlisted / Not Shortlisted Candidates
              </a>
            </td>
          </tr>

          <tr>
            <th scope="row">8</th>

            <td scope="col">Purchase Executive - 01 No.</td>
            <td scope="col">
              <a  href="/static/pdf/careers/Purchase_Executive-01_No.pdf"  data-doc  >
                List of Provisionally Shortlisted / Not Shortlisted  Candidates
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <p>
      <a href="/static/pdf/careers/Cancellation_of_EA_and_JEA.pdf" class="t" data-doc  >
        Cancellation of Recruitment Notification (Advt.No.07/2021) for the  posts of:
      </a>
    </p>

    <ul>
      <li>
        <a href="/static/pdf/careers/Cancellation_of_EA_and_JEA.pdf" data-doc>
          Executive Assistant (EA) 1 No. (EWS)
        </a>
      </li>
      <li> 
        <a href="/static/pdf/careers/Cancellation_of_EA_and_JEA.pdf" data-doc>
          Junior Executive Assistant (JEA) 1 No. (OBC)
        </a>
      </li>
    </ul>

    <p>
      <a href="/static/pdf/careers/Cancellation_Advt.No.08-2021.pdf" data-doc class="t" >
        Cancellation of Recruitment Notification (Advt.No.08/2021) for the post of :
      </a>
    </p>

    <ul>
      <li>
        <a href="/static/pdf/careers/Cancellation_Advt.No.08-2021.pdf" data-doc>
          Project Engineer Grade - I (Post Code No.S&R-PE-I)
        </a>
      </li>
      <li>
        <a href="/static/pdf/careers/Cancellation_Advt.No.08-2021.pdf" data-doc>
          Project Engineer Grade - II (Post Code No.S&R-PE-II)
        </a>
      </li>
    </ul>

    <p>
      <a href="/static/pdf/careers/Result_AD(F&A).pdf" class="t" data-doc
        >Result of interview for the post of Additional Director (Finance &
        Administration) held on 07.03.2022 against Advt. No. 06/2021.</a
      >
    </p>
    <p>
      Recruitment for one post of Additional Director (Finance & Administration)
      - NIWE Advertisement No. 06/2021.
    </p>

    <ul>
      <li>
        <a href="/static/pdf/careers/List_of_Shortlisted_Candidates_AD(F&A).pdf" data-doc> 
          List of Shortlisted /Provisionally Shortlisted Candidates
        </a>
      </li>
      <li>
        <a href="/static/pdf/careers/List_of_Not_Shortlisted_Candidates_AD(F&A).pdf" data-doc>
          List of Not Shortlisted Candidates
        </a>
      </li>
    </ul>

    <p>
      Recruitment of various posts on contract basis against Advertisement No.
      09/2021 - List of Recommended and Not recommended candidates
    </p>

    <div class="table-responsive">
      <table class="table table-bordered table-responsive">
        <thead class="table-success">
          <tr class="text-center">
            <th scope="col">Sl.No</th>
            <th scope="col" colspan="2">Advertisement No.</th>
            <th scope="col">Name of the Post</th>

            <th scope="col" colspan="2">Status</th>

            <th scope="col">Result</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td  colspan="2"  rowspan="4"  style="text-align: center; vertical-align: middle">
              09/2021 Dt., 09.11.2021
            </td>
            <td scope="col">Project Coordinator (SDT-PC-01)</td>

            <td scope="col">
              <a  href="/static/pdf/careers/Project_Coordinator_Recommended.pdf" data-doc >  
                List of Recommended Candidates
              </a>
            </td>
            <td scope="col">
              <a  href="/static/pdf/careers/Administrative_Executive_Recommended.pdf"  data-doc>
                List of Not Recommended Candidates
              </a>
            </td>

            <td  scope="col"  rowspan="4"  style="text-align: center; vertical-align: middle">
              <a  href="/static/pdf/careers/Result_Advtt.No.09-2021.pdf"  data-doc  >
                Result of Selection of candidates for the posts of Project  Coordinator, Administrative Executive, Accounts Executive &  Purchase Executive on contract basis against NIWE  Advt.No.09/2021 dated 09.11.2021
              </a>
            </td>
          </tr>

          <tr>
            <th scope="row">2</th>

            <td scope="col">Administrative Executive (F&A-ADMIN-01)</td>
            <td scope="col">
              <a  href="/static/pdf/careers/Administrative_Executive_Recommended.pdf"  data-doc  >
                List of Recommended Candidates
              </a>
            </td>
            <td scope="col">
              <a  href="/static/pdf/careers/Administrative_Executive_Not_Recommended.pdf"  data-doc  >
                List of Not Recommended Candidates
              </a>
            </td>
          </tr>

          <tr>
            <th scope="row">3</th>

            <td scope="col">Accounts Executive (F&A-ACCOUNTS-01)</td>
            <td scope="col">
              <a  href="/static/pdf/careers/Accounts_Executive_Recommended.pdf"  data-doc  >
                List of Recommended Candidates
              </a>
            </td>
            <td scope="col">
              <a  href="/static/pdf/careers/Accounts_Executive_Not_Recommended.pdf"  data-doc  >
                List of Not Recommended Candidates
              </a>
            </td>
          </tr>

          <tr>
            <th scope="row">4</th>

            <td scope="col">Purchase Executive (F&A-PURCHASE-01)</td>
            <td scope="col">
              <a  href="/static/pdf/careers/Purchase_Executive_Recommended.pdf  "  data-doc  >
                List of Recommended Candidates
              </a>
            </td>
            <td scope="col">
              <a  href="/static/pdf/careers/Purchase_Executive_Not_Recommended.pdf"  data-doc  >
                List of Not Recommended Candidates</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <p>
      <a href="/static/pdf/careers/Instructions-shortlisted_candidates.pdf" class="t" data-doc>
        Important instructions to the shortlisted candidates (Against
        Advt.No.04/2021 dated 11.06.2021 for the Post of Project Assistant Grade
        - I & II)
      </a>
    </p>

    <ul>
      <li>
        <a href="/static/pdf/careers/Recommended_candidates-Project_Assistant-Grade-I.pdf" data-doc>
          List of recommended candidates for the Project Assistant Grade - I
          (Met Ocean Measurements)
        </a>
      </li>
      <li>
        <a href="/static/pdf/careers/Recommended_candidates-Project_Assistant-Grade-II.pdf" data-doc>
          List of recommended candidates for the Project Assistant Grade - II
          (Met Ocean Measurements)
        </a>
      </li>
      <li>
        <a href="/static/pdf/careers/PA_G-I_Result.pdf" data-doc>
          Result of Online interview for engagement of Project Assistant Grade-I
          on contract basis against NIWE Advt.No.04/2021 dated 11.06.2021
        </a>
      </li>
      <li>
        <a href="/static/pdf/careers/PA_G-II_Result.pdf" data-doc>
          Result of Online interview for engagement of Project Assistant
          Grade-II on contract basis against NIWE Advt.No.04/2021 dated
          11.06.2021
        </a>
      </li>
    </ul>
    <p>
      <a href="/static/pdf/careers/Result_PE_R&D_21.12.2021.pdf" class="t" data-doc>
        Result of selection of candidates to the post of Project Engineer on contract basis at its Online Interview held on 03.12.2021 & 04.12.2021 against NIWE Advt. No.03/2021 dated 27.03.2021
      </a>
    </p>
    <p>
      <a href="/static/pdf/careers/Result_SRF-03-2021.pdf" class="t" data-doc >
        Result of selection of candidates to the post of Senior Research Fellow (SRF) on contract basis at its Online Interview held on 03.12.2021 against NIWE Advt. No.03/2021 dated 27.03.2021
      </a>
    </p>
    <p>
      <a href="/static/pdf/careers/Result_JRF-05-2021.pdf" class="t" data-doc>
        Result of selection of candidates to the post of Junior Research Fellow  (JRF) on contract basis at its Online Interview held on 03.12.2021  against NIWE Advt. No.05/2021 dated 22.07.2021
      </a>
    </p>
    <p>
      <a href="/static/pdf/careers/Result_PE_04-2021.pdf" class="t" data-doc>
        Result of selection of candidates to the post of Project Engineer Grade
        I (Mechanical / Aeronautical / Electrical Engineering) for NABCB on
        contract basis at its Online Interview held on 06.12.2021 against NIWE
        Advt. No.04/2021 dated 11.06.2021
        </a>
    </p>
    <p>
      <a href="/static/pdf/careers/Assistant_Director(T)_Q.paper_&_syllabus.pdf" class="t" data-doc >
        Question Paper for the post of Assistant Director (Technical), along with Syllabus and Scheme of Examination
      </a>
    </p>
    <p>
      <a href="/static/pdf/careers/JE_Q.paper_&_syllabus.pdf" class="t" data-doc>
        Question Paper for the post of Junior Engineer along with Syllabus and Scheme of Examination
      </a>
    </p>
    <p>
      <a href="/static/pdf/careers/Question Paper_Executive Assistant_2017_1_MS Office Proficiency.pdf" class="t" data-doc>
        Questions Papers for the post of Executive Assistant
      </a>
    </p>
    <ul>
     <li>
        <a href="/static/pdf/careers/Question Paper_Executive Assistant_2017_1_MS Office Proficiency.pdf" data-doc >
          Question paper for Executive Assistant - MS Office Proficiency
        </a>
     </li>
      <li>
        <a href="/static/pdf/careers/Question Paper _Executive Assistant_2017_2_Main Exam.pdf" data-doc >
          Question paper for Executive Assistant - Main Exam
        </a>
      </li>
    </ul>
  </div>
</section>
{% endblock %}
