<!-- Tabs nav -->
<div
  class="nav flex-column nav-pills nav-pills-custom"
  id="v-pills-tab"
  role="tablist"
  aria-orientation="vertical"
>
  <a
    class="nav-link mb-3 px-3 py-2 shadow"
    id="v-pills-offshore-tab"
    data-toggle="pill"
    href="#offshore"
    role="tab"
    aria-controls="offshore"
    aria-selected="true"
  >
    <i class="fa fa-hand-o-right mr-2" aria-hidden="true"></i>
    <span class="font-weight-bold small text-uppercase">Academic</span></a
  >

  <a
    class="nav-link mb-3 px-3 py-2 shadow"
    id="v-pills-newsletter-tab"
    data-toggle="pill"
    href="#newsletter"
    role="tab"
    aria-controls="newsletter"
    aria-selected="false"
  >
    <i class="fa fa-hand-o-right mr-2" aria-hidden="true"></i>
    <span class="font-weight-bold small text-uppercase">Newsletter</span></a
  >

  <a
    class="nav-link mb-3 px-3 py-2 shadow"
    id="v-pills-annual-report-tab"
    data-toggle="pill"
    href="#annual_reports"
    role="tab"
    aria-controls="annual_reports"
    aria-selected="false"
  >
    <i class="fa fa-hand-o-right mr-2" aria-hidden="true"></i>
    <span class="font-weight-bold small text-uppercase">Annual Reports</span></a
  >

  <a
    class="nav-link mb-3 px-3 py-2 shadow"
    id="v-pills-library-tab"
    data-toggle="pill"
    href="#library"
    role="tab"
    aria-controls="library"
    aria-selected="false"
  >
    <i class="fa fa-hand-o-right mr-2" aria-hidden="true"></i>
    <span class="font-weight-bold small text-uppercase">Library</span></a
  >

  <a
    class="nav-link mb-3 px-3 py-2 shadow"
    id="v-pills-workshop-tab"
    data-toggle="pill"
    href="#workshop-conference"
    role="tab"
    aria-controls="workshop&conference"
    aria-selected="false"
  >
    <i class="fa fa-hand-o-right mr-2" aria-hidden="true"></i>
    <span class="font-weight-bold small text-uppercase"
      >Workshop and Conference</span
    ></a
  >

  <a
    class="nav-link mb-3 ps-3 pe-1 py-2 shadow"
    id="v-pills-skill-development-tab"
    data-toggle="pill"
    href="#skill-development"
    role="tab"
    aria-controls="skill-development"
    aria-selected="false"
  >
    <i class="fa fa-hand-o-right mr-2" aria-hidden="true"></i>
    <span class="font-weight-bold small text-uppercase"
      >Vayumitra Skill Development Programme</span
    ></a
  >

  <a
    class="nav-link mb-3 px-3 py-2 shadow"
    id="v-pills-training-calender-tab"
    data-toggle="pill"
    href="#training-calender"
    role="tab"
    aria-controls="training-calender"
    aria-selected="false"
  >
    <i class="fa fa-hand-o-right mr-2" aria-hidden="true"></i>
    <span class="font-weight-bold small text-uppercase"
      >Training Calendar</span
    ></a
  >
 
  <a
    class="nav-link mb-3 px-3 py-2 shadow"
    id="v-pills-national-training-tab"
    data-toggle="pill"
    href="#national-training"
    role="tab"
    aria-controls="national-training"
    aria-selected="false"
  >
    <i class="fa fa-hand-o-right mr-2" aria-hidden="true"></i>
    <span class="font-weight-bold small text-uppercase"
      >National Training</span
    ></a
  >

  <a
    class="nav-link mb-3 px-3 py-2 shadow"
    id="v-pills-international-training-tab"
    data-toggle="pill"
    href="#international-training"
    role="tab"
    aria-controls="international-training"
    aria-selected="false"
  >
    <i class="fa fa-hand-o-right mr-2" aria-hidden="true"></i>
    <span class="font-weight-bold small text-uppercase"
      >International Training</span
    ></a
  >

  <a
    class="nav-link mb-3 px-3 py-2 shadow"
    id="v-pills-ITEC-training-tab"
    data-toggle="pill"
    href="#ITEC-training"
    role="tab"
    aria-controls="ITEC-training"
    aria-selected="false"
  >
    <i class="fa fa-hand-o-right mr-2" aria-hidden="true"></i>
    <span class="font-weight-bold small text-uppercase">ITEC Training</span></a
  >

  <a
    class="nav-link mb-3 px-3 py-2 shadow"
    id="v-pills-customized-training-tab"
    data-toggle="pill"
    href="#customized-training"
    role="tab"
    aria-controls="customized-training"
    aria-selected="false"
  >
    <i class="fa fa-hand-o-right mr-2" aria-hidden="true"></i>
    <span class="font-weight-bold small text-uppercase"
      >Customized Training</span
    ></a
  >

  <a
    class="nav-link mb-3 px-3 py-2 shadow"
    id="v-pills-webinar-tab"
    data-toggle="pill"
    href="#webinar"
    role="tab"
    aria-controls="webinar"
    aria-selected="false"
  >
    <i class="fa fa-hand-o-right mr-2" aria-hidden="true"></i>
    <span class="font-weight-bold small text-uppercase">Webinar</span></a
  >

  <a
    class="nav-link mb-3 px-3 py-2 shadow"
    id="v-pills-global-wind-tab"
    data-toggle="pill"
    href="#global-wind-day"
    role="tab"
    aria-controls="global-wind-day"
    aria-selected="false"
  >
    <i class="fa fa-hand-o-right mr-2" aria-hidden="true"></i>
    <span class="font-weight-bold small text-uppercase"
      >Global Wind Day</span
    ></a
  >

  <a
    class="nav-link mb-3 px-3 py-2 shadow"
    id="v-pills-short-term-tab"
    data-toggle="pill"
    href="#short-term-courses"
    role="tab"
    aria-controls="short-term-courses"
    aria-selected="false"
  >
    <i class="fa fa-hand-o-right mr-2" aria-hidden="true"></i>
    <span class="font-weight-bold small text-uppercase"
      >Short Term Courses</span
    ></a
  >

  <a
    class="nav-link mb-3 ps-3 pe-1 py-2 shadow"
    id="v-pills-award-wind-tab"
    data-toggle="pill"
    href="#awards-for-wind"
    role="tab"
    aria-controls="awards-for-wind"
    aria-selected="false"
  >
    <i class="fa fa-hand-o-right mr-2" aria-hidden="true"></i>
    <span class="font-weight-bold small text-uppercase"
      >IREDA - NIWE Awards for Wind Energy</span
    ></a
  >

  <a
    class="nav-link mb-3 px-3 py-2 shadow"
    id="v-pills-amrit-mahotsav-tab"
    data-toggle="pill"
    href="#amrit-mahotsav"
    role="tab"
    aria-controls="amrit-mahotsav"
    aria-selected="false"
  >
    <i class="fa fa-hand-o-right mr-2" aria-hidden="true"></i>
    <span class="font-weight-bold small text-uppercase"
      >Azadi ka amrit mahotsav</span
    ></a
  >
</div>
