{% extends 'base.html' %}

{% block meta %}
  <meta name="description" content="Country-wise details of Wind Energy Generator (WEG) installations provided by the National Institute of Wind Energy (NIWE), Chennai, including capacity, location, and operational statistics under the Ministry of New and Renewable Energy (MNRE).">
  <meta name="keywords" content="WEG installation details, wind energy generators, NIWE Chennai, MNRE India, wind power capacity, country-wise wind installations, renewable energy statistics, wind energy operational data, wind energy projects, wind energy monitoring">
{% endblock %}

{% block title %} WEG Installation Details - Country Wise | National Institute of Wind Energy (NIWE), Ministry of New and Renewable Energy, Government of India {% endblock %}

{% block content %}
<style>
  .span12 table{
    width: 100% !important;
  }
</style>
<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">WEG Installation Details World - Country Wise</h1>
    </div>
  </div>
</section>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="{% url 'document' %}">Documents</a>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="{% url 'information_weg_installation' %}"> Weg Installation</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        WEG Installation Details World - Country Wise
      </li>
    </ol>
  </nav>
</div>

<section id="divContent" class="dgm-div">
  <div class="container mt-4 text-center">
   
    {% for detail in country_wise %}
      <p>{{detail.description|safe}}</p>
    {% endfor %}
  </div>
</section>

<!-- footer -->

{% endblock %}
