{% extends 'base.html' %}

{% block meta %}
  <meta name="description" content="Reports of Azadi ka Amrit Mahotsav 2021-22 by the National Institute of Wind Energy (NIWE), Chennai, documenting events, initiatives, and activities conducted to celebrate 75 years of India's independence under MNRE.">
  <meta name="keywords" content="Azadi ka Amrit Mahotsav 2021-22 reports, NIWE Chennai, MNRE India, independence celebration reports, wind energy events, NIWE initiatives, renewable energy activities, national celebrations, India 75 years, NIWE documentation">
{% endblock %}

{% block title %} Reports of Azadi ka Amrit Mahotsav 2021-22 | National Institute of Wind Energy (NIWE), Ministry of New and Renewable Energy, Government of India {% endblock %}

{% block content %}

<section class="head-div">
    <div class="overlay d-flex align-items-center">
      <div class="container">
        <h1 class="text-white">
          Azadi ka Amrit Mahotsav 2021-22 to commemorate the 75 years of
          progressive Independent India
        </h1>
      </div>
    </div>
  </section>
  
  <div class="container">
    <nav aria-label="breadcrumb"> 
      <ol class="breadcrumb bg-transparent p-0">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item">
          <a href="{% url 'document' %}">Documents</a>
        </li>
        <li class="breadcrumb-item active">
          <a href="{% url 'amrit_mahotsav' %}"> Azadi ka Amrit Mahotsav</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          2021-22
        </li>
      </ol>
    </nav>
  </div>


<section class="akam-sec" id="divContent">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="">
          <!-- {% for national in custom %} {{national.data|safe}} {% endfor %} -->
          <p>{{ event_report.description|safe }}</p>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}