
{% extends 'base.html' %}
{% block meta %}
  <meta name="description" content="Learn about the background of the National Institute of Wind Energy (NIWE), an autonomous R&D institution under the Ministry of New and Renewable Energy, Government of India. Explore NIWE’s history, establishment, and role in advancing wind energy research and development across India.">
  <meta name="keywords" content="NIWE background, National Institute of Wind Energy, wind energy research India, MNRE wind institute, renewable energy, wind power development, NIWE Chennai, wind resource assessment, NIWE establishment, wind R&D India">
{% endblock %}

{% block title %}About NIWE – Background | National Institute of Wind Energy (NIWE), Ministry of New and Renewable Energy, Government of India{% endblock %}

{% block content %}

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Background</h1>
    </div>
  </div>
</section>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="{% url 'us' %}">About Us</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Background</li>
    </ol>
  </nav>
</div>

<section class="dgm-div"id="divContent" >
  <div class="container">
    <div class="row">
      <div class="col-md-4">{% include 'aboutsidenav.html' %}</div>
      <div class="col-md-8" id="divContent">
        <div class="dgm-text">
          {% for data in background %}

          <p>{{data.description|safe}}</p>

          {% endfor %} 
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
