{% extends 'base.html' %}

{% block meta %}
  <meta name="description" content="Disclaimer page of the National Institute of Wind Energy (NIWE), Chennai, outlining legal disclaimers, terms of use, and limitations of liability for content and information provided on the website under MNRE.">
  <meta name="keywords" content="NIWE disclaimer, NIWE Chennai, MNRE India, legal disclaimer, terms of use, website liability, wind energy information, renewable energy content, NIWE website policy, MNRE disclaimers">
{% endblock %}

{% block title %} Disclaimer | National Institute of Wind Energy (NIWE), Ministry of New and Renewable Energy, Government of India {% endblock %}

{% block content %}

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Disclaimer</h1>
    </div>
  </div>
</section>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Disclaimer</li>
    </ol>
  </nav>
</div>

<section class="dgm-div" id="div-content">
  <div class="container">
    <p>
      All the contents of this web-site are owned by National Institute of Wind
      Energy (NIWE)and are only for general information or use. While every care
      has been taken to ensure the accuracy of information furnished in this
      web-site, National Institute of Wind Energy (NIWE) do not accept any
      responsibility or liability for any damage or loss arising from the
      direct/indirect use of the information provided on the site. However, we
      shall be obliged if errors/omissions are brought to our notice for
      carrying out the corrections.
    </p>
    <p>
      It is likely that the details such as telephone numbers, name of the
      officer holding a post, etc may change prior to its updating in the web
      site. Hence, National Institute of Wind Energy (NIWE) do not assume any
      legal liability on the completeness, accuracy or usefulness of the
      contents provided in this web site. Despite our best efforts, National
      Institute of Wind Energy (NIWE) do not warranty that the documents in this
      site is free from infection by computer viruses.
    </p>
    <p>
      Certain links on the site may lead to resources located on servers
      maintained by other parties over whom we have no control. We accept no
      responsibility or liability for any of the material contained on these
      servers
    </p>
  </div>
</section>

{% endblock %}
