{% extends 'base.html' %}

{% block meta %}
  <meta name="description" content="Current Practices in Wind and Solar Forecasting by the National Institute of Wind Energy (NIWE), Chennai, covering advanced forecasting techniques, methodologies, and research outcomes for wind and solar energy under MNRE.">
  <meta name="keywords" content="Wind forecasting practices, Solar forecasting practices, NIWE Chennai, MNRE India, renewable energy forecasting, wind and solar prediction, NIWE research, energy forecasting methodologies, wind energy forecasting, solar energy forecasting">
{% endblock %}

{% block title %} Current practices in Wind and Solar forecasting | National Institute of Wind Energy (NIWE), Ministry of New and Renewable Energy, Government of India {% endblock %}

{% block content %}
<!-- nav end  -->

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">
        Current practices in Wind and Solar forecasting
      </h1>
    </div>
  </div>
</section>

<section class="main-div">
  <div class="container">
    <div class="col-12 row mx-auto">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
            0. Thematic Technical Session - Wind/ Solar Power Forecasting
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <ol class="list-group list-group-flush list-group-numbered">
                
                <li class="list-group-item d-flex txt-clr">
                  <div class="ms-2">
                    <a href="###" class="txt-clr"
                      >Dr. Greeshma M Mohan<br />Project Scientist, Indian
                      Institute of Tropic Meterology, India</a
                    >
                  </div>
                </li>
                <li class="list-group-item d-flex txt-clr">
                  <div class="ms-2">
                    <a href="###" class="txt-clr" 	
                      >Mr. Sushant Kumar <br />Project Scientist, 
                      National Centre for Medium Range Weather Forecasting, India</a
                    >
                  </div>
                </li>
                <li class="list-group-item d-flex txt-clr">
                  <div class="ms-2">
                    <a href="###" class="txt-clr"                      
                      >Mr. A.G. Rangaraj<br />Deputy Director (Technical), National Institute of Wind Energy, India</a
                    >
                  </div>
                </li>
                <li class="list-group-item d-flex txt-clr">
                  <div class="ms-2">
                    <a href="###" class="txt-clr"
                      >Mr. A.D. Thirumoorthy<br />Chief Technical Advisor, Indian Wind Power Association</a
                    >
                  </div>
                </li>
              </ol>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
            1. Technical Session 1 - Hybrid Approach in Wind/ Solar Power Forecasting
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <ol class="list-group list-group-flush list-group-numbered">
                <li class="list-group-item d-flex txt-clr">
                  <div class="ms-2">
                    <a href="###" class="txt-clr"
                      >Mr. Bernd Kratz<br />CTO, Enercast gmbH, Germany</a
                    >
                  </div>
                </li>
                <li class="list-group-item d-flex txt-clr">
                  <div class="ms-2">
                    <a href="###" class="txt-clr"
                      >Mr. Amresh Khosla<br />Director, Manikaran Analytics
                      Limited, India</a
                    >
                  </div>
                </li>
                <li class="list-group-item d-flex txt-clr">
                  <div class="ms-2">
                    <a href="###" class="txt-clr"
                      >Mr. Jordi Ferrer<br />Managing Director, Vortex S.L,
                      Spain</a
                    >
                  </div>
                </li>
                <li class="list-group-item d-flex txt-clr">
                  <div class="ms-2">
                    <a href="###" class="txt-clr"
                      >Mr. G.M. Vishwanath<br />Head, Renewable Energy
                      Operations (India), 3TIRE R&D India Pvt Ltd, India</a
                    >
                  </div>
                </li>
              </ol>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
            2. Technical Session 2 - Advanced Statistical Approach used in Wind/ Solar Power Forecasting
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <ol class="list-group list-group-flush list-group-numbered">
                <li class="list-group-item d-flex txt-clr">
                  <div class="ms-2">
                    <a href="###" class="txt-clr"
                      >Mr. Bernd Kratz<br />CTO, Enercast gmbH, Germany</a
                    >
                  </div>
                </li>
                <li class="list-group-item d-flex txt-clr">
                  <div class="ms-2">
                    <a href="###" class="txt-clr"
                      >Mr. Amresh Khosla<br />Director, Manikaran Analytics
                      Limited, India</a
                    >
                  </div>
                </li>
                <li class="list-group-item d-flex txt-clr">
                  <div class="ms-2">
                    <a href="###" class="txt-clr"
                      >Mr. Jordi Ferrer<br />Managing Director, Vortex S.L,
                      Spain</a
                    >
                  </div>
                </li>
                <li class="list-group-item d-flex txt-clr">
                  <div class="ms-2">
                    <a href="###" class="txt-clr"
                      >Mr. G.M. Vishwanath<br />Head, Renewable Energy
                      Operations (India), 3TIRE R&D India Pvt Ltd, India</a
                    >
                  </div>
                </li>
              </ol>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFour"
              aria-expanded="false"
              aria-controls="collapseFour"
            >
            3. Technical Session 3 - Advancement in Physical model of Wind/ Solar Power Forecasting 
            </button>
          </h2>
          <div
            id="collapseFour"
            class="accordion-collapse collapse"
            aria-labelledby="headingFour"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <ol class="list-group list-group-flush list-group-numbered">
                <li class="list-group-item d-flex txt-clr">
                  <div class="ms-2">
                    <a href="###" class="txt-clr"
                      >Mr. Bernd Kratz<br />CTO, Enercast gmbH, Germany</a
                    >
                  </div>
                </li>
                <li class="list-group-item d-flex txt-clr">
                  <div class="ms-2">
                    <a href="###" class="txt-clr"
                      >Mr. Amresh Khosla<br />Director, Manikaran Analytics
                      Limited, India</a
                    >
                  </div>
                </li>
                <li class="list-group-item d-flex txt-clr">
                  <div class="ms-2">
                    <a href="###" class="txt-clr"
                      >Mr. Jordi Ferrer<br />Managing Director, Vortex S.L,
                      Spain</a
                    >
                  </div>
                </li>
                <li class="list-group-item d-flex txt-clr">
                  <div class="ms-2">
                    <a href="###" class="txt-clr"
                      >Mr. G.M. Vishwanath<br />Head, Renewable Energy
                      Operations (India), 3TIRE R&D India Pvt Ltd, India</a
                    >
                  </div>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFour"
              aria-expanded="false"
              aria-controls="collapseFour"
            >
            4. Technical Session 4 - Forecasting and Allied Issues 
            </button>
          </h2>
          <div
            id="collapseFour"
            class="accordion-collapse collapse"
            aria-labelledby="headingFour"
            data-bs-parent="#accordionExample"
          >
       

            <div class="accordion-body">
              <ol class="list-group list-group-flush list-group-numbered">
                <li class="list-group-item d-flex txt-clr">
                  <div class="ms-2">
                    <a href="###" class="txt-clr" 
                      >RE Forecasting & REMC Framework</br>Mr. Kashish Bhambhani<br />Chief Manager, Power Grid Corporation of IndiaLimited, India</a
                    >
                  </div>
                </li>
                <li class="list-group-item d-flex txt-clr">
                  <div class="ms-2">
                    <a href="###" class="txt-clr"
                      >Mr. Vishal Pandy<br />Co-Founder & Director, REconnect energy, India</a
                    >
                  </div>
                </li>
                <li class="list-group-item d-flex txt-clr">
                  <div class="ms-2">
                    <a href="###" class="txt-clr"
                      >Dr. Jordi Nadal<br />Data Scientist, AIA Consulting, Spain</br>
                      R file for Download</a
                    >
                  </div>
                </li>
                <li class="list-group-item d-flex txt-clr">
                  <div class="ms-2">
                    <a href="###" class="txt-clr"
                      >Mr. Deva P Seetharam<br />CEO & Co-Founder DataGlen , India</a
                    >
                  </div>
                </li>
                <li class="list-group-item d-flex txt-clr">
                  <div class="ms-2">
                    <a href="###" class="txt-clr"
                      >Mr. O P Taneja<br />Associate Director, Indian Wind Turbine Manufacturers Associaton, India</a
                    >
                  </div>
                </li>
                <li class="list-group-item d-flex txt-clr">
                  <div class="ms-2">
                    <a href="###" class="txt-clr"
                      >Mr. R. Karthik<br />Chairman & managing Director, Iacharya Silicon Limited</a
                    >
                  </div>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!--div close for the accordian div-->
    </div>
    <!--div close for row-->
  </div>
  <!--div close for the main container-->
</section>

<!-- footer -->

{% endblock %}
