{% extends 'base.html' %}

{% block meta %}
  <meta name="description" content="Prof. Dr. Annamani Centenary Celebration International Conference on Wind and Solar Resource Assessment, organized by the National Institute of Wind Energy (NIWE), Chennai, focusing on wind and solar energy research, assessments, and international collaborations under MNRE.">
  <meta name="keywords" content="Annamani Centenary Conference, NIWE Chennai, MNRE India, wind resource assessment, solar resource assessment, international energy conference, wind and solar research, renewable energy collaboration, NIWE events, MNRE initiatives">
{% endblock %}

{% block title %} Prof. Dr. Annamani Centenary Celebration International Conference on Wind and Solar Resource Assessment | NATIONAL INSTITUTE OF WIND ENERGY {% endblock %}

{% block content %}

{% load static %}
<!-- nav end  -->

<section class="head-div">
    <div class="overlay d-flex align-items-center">
        <div class="container">
            <h1 class="text-white">Prof. Dr. Annamani Centenary Celebration International Conference on Wind and Solar Resource Assessment</h1>
        </div>
    </div>

</section>



<section class="main-div" id="divContent">
    <div class="container ">
        <div class="row col-12 mx-auto">
           <div class="txt-clr2 text-center">
                     <h3>Prof. Dr. Annamani Centenary Celebration International Conference on Wind and Solar Resource Assessment</h3>
                     <h5>13th & 14th December 2019</h5>
           </div>
        </div><!--div close for row-->

        <div class="row col-12 mx-auto d-flex justify-content-center ">
              <div class="col-lg-2 col-md-4 col-sm-5 col-6 mt-4 ">
                <a href="{% static '/images/wsra_brochure.pdf' %}" aria-label="Open WSRA Brochure PDF" data-doc>
                  <div class="card p-2 gallery-card-akam h-100">
                    <img src="{% static '/images/broucher.jpeg' %}" style="height:200px; width:100%;" alt="WSRA Brochure Cover" />
                    <div class="card-footer text-center fw-bold lh-sm">
                      Brochure
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-5 col-6 mt-4">
                <a href="{% static '/images/registration_form-conference.pdf' %}" aria-label="Open Registration Form PDF">
                  <div class="card p-2 gallery-card-akam h-100">
                    <img src="{% static '/images/registration-form.jpeg' %}" style="height:200px; width:100%;" alt="Registration Form Cover" />
                    
                    <div class="card-footer text-center fw-bold lh-sm">
                      Registration Form
                    </div>
                  </div>
                </a>
              </div>
        </div>

        <div class="col-12 row grd-box mt-5 pb-5 mx-auto">
              
              <!--next div --->
              <div class="head1">
                 <h4>Introduction</h4>
              </div> 
              <p>Wind and solar energy have become an integral part of Global energy mix. As on July 2019, the country has the installed capacity of 66.8GW of grid connected wind and solar generation along with 1GW (approximate) of off grid connected solar power plants. To accelerate the installation of wind and solar power in the country, the Government of India has set a target of 60 GW from wind and 100 GW from solar for 2022 and to have at least 40% renewable power capacity by 2030. The resource assessment is the critical elements for developing wind and solar power plant.</p>
               <br>
               <p>The journey of resource assessment was driven by the vision and tireless efforts from the wind and solar community right from the early seventies. Measuring and assessing the wind and solar resource potential of the country became the natural first step which then found its natural progression in the development of Renewable sector.</p>
               <br>
              <p>A concerted efforts on the resource assessment has picked up its pace when the Government mandated National Institute of Wind Energy (NIWE) formerly Centre for Wind Energy Technology (CWET) for Resource Assessment in the country for both wind and solar. NIWE started the wind resource assessment program in the year 2000 and the solar program in 2011. Several efforts for resource measurements followed with active participation and investment from the private sector and State Nodal Agencies which were parallel taken up. These collective efforts by all the stakeholders created the strong foundation on which the wind sector grew and became as established as we see today.</p> 
                <br>
                <p>The first Indian wind map was prepared and published in year 2004 for 50m hub height. In 2010 NIWE prepared 50m, 80m height Wind Atlas with updated techniques and estimated potential in the country as 49 GW and 102 GW respectively. As the hub height of the turbine is increasing, NIWE prepared and released 100m Wind Atlas in September 2015 with the estimated potential of 302 GW and is on the verge of releasing the 120m Atlas. The 150m height wind atlas with advanced technique is under progress.</p>
                <br>
                <p>However, it was Prof. Dr. Anna Modayil Mani who pioneered in resource assessment and took the first visionary step of carrying out Pan India campaign of measuring and assessing the wind and solar resource potential.</p>
                <br>
                <p>To tribute and celebrate, the birth centenary of Prof. Dr. Anna Mani as the Wind Resource Day 23rd August 2019.</p>

                <!--next div (paragraph template)--->
                <div class="head1 mt-3">
                 <h4>WIND & SOLAR RESOURCE ASSESSMENT</h4>
                </div>
                 <p>Wind and solar resources assessment work in India contributions to the field of meteorological started way back in 1970s. National Wind Resource Assessment program was launched in 1985 by the Government of India to assess the potential with actual measurements, wherein Prof. Dr. Anna Mani played a crucial role. Currently 896 wind monitoring stations were established under program. Further about 1100 private wind monitoring stations are also established in the country, thanks to the “Guidelines for Wind Measurement by Private Sector” released by MNRE in June 2008. In total, India holds a data bank for about 2000 wind-monitoring stations, which is one of the largest in the world.</p>
                 <br>
                 <p>Prof. Anna Mani published the Handbook for Solar Radiation Data for India in 1980 and Solar Radiation over India in 1981 and in 1990s, her efforts saw the publication of Wind Resource Survey in India series Volume I to V. NIWE continued the publishing of remaining volumes from Vol. VI to Vol. IX through its measurements campaigns.</p>
                 <br>
                 <p>These measurements and survey volumes helped in the potential estimation of the country in a welldefined way.</p>
                 <br>
                 <p>The solar radiation data in the country till 2010 was challenging due to non-availability of bankable and investor grade ground measured solar data. It was a major hurdle in the implementation of solar power projects in the country. To overcome these challenges MNRE launched a national program in 2010 for the establishment of a network of Solar Radiation Resource Assessment (SRRA) stations to collect solar radiation resource data measuring Global Horizontal Irradiance (GHI), Direct Normal Irradiance (DNI), Diffuse Horizontal Irradiance (DHI) and associated meteorological parameters in a phased manner through NIWE, by establishing an exclusive project called SRRA. Under this program, 
                     115 stations have been established, out of these SRRA stations, 4 advanced measurement stations also have been commissioned in the country to collect site ciceps attenuation of solar radiation due to various atmospheric constituents and these 4 stations are part of the prestigious BSRN (Baseline Solar Radiation Network) an arm of world climate research programme (WCRP) of World Meteorological Organization (WMO). India and Japan are two countries in Asia that are in this prestigious network.</p>
                
                <!--next div (li template)--->
                <div class="head1 mt-3">
                  <h4>THEME OF THE CONFERENCE</h4>
                </div>
                 <ol type="1">
                    <li>Advances in measuring techniques for Resource Assessment</li>
                    <li>Tools and techniques for Resource Assessment</li>
                    <li>Temporal and Spatial variation of resources</li>
                    <li>Resource mapping</li>
                    <li>Uncertainties Quantification</li>
                    <li>Offshore wind assessment</li>
                 </ol>

                <!--next div --->
                <div class="head1 mt-3">
                 <h4>TARGET OF THE CONFERENCE</h4>
                </div>
                <p>Prof. Dr. Anna Mani was always keen in looking for technological breakthrough, inventing products and technical solutions, to address the challenges faced while implementing the wind and solar measurement campaign as well as in the process of assessment of the resource potential.</p>
                <p>Keeping this spirit, the conference will focus on the latest technological developments in the field of measurements and resource assessment. The conference shall be a forum for amalgamation of national and international countries, thoughts leaders, engineers and professionals working in this field. 
                  This meet shall be an open platform for exchange of ideas, learnings, technical advancements, sharing of experiences in Wind and Solar Resource Assessment (WSRA) to move the operational expertise to the next paradigm.
                </p>   
                
                <!--next div --->
                <div class="head1 mt-3">
                  <h4>INVITED SPEAKERS</h4>
                </div>
                <p>The resource persons for the conference will be national and international experts from wind and solar industry across the globe who have contributed yltnacingisto the development of wind and solar resource assessment.</p>
                
                <!--next div --->
                <div class="head1 mt-3">
                  <h4>IMPORTANT DATES</h4>
                </div>
               <div style="overflow-x:auto;">
                <table style="width:100%;" class="table mt-3">
                     <tr>
                        <td style="width:200px;">Conference on</td>
                        <th style=>13th & 14th December 2019</th>
                     </tr>
                     <tr>
                        <td>Last Date for Registration</td>
                        <th>  : 30th November 2019</th>
                     </tr>
                     <tr>
                        <td>Date of confirmation</td>
                        <th>	: 5th December 2019</th>
                     </tr>
                 </table>
               </div>

               <!--next div ---> 
                <div class="head1 mt-3">
                  <h4>VENUE</h4>
                </div>
                <p>SAGAR SANGAMAM, Conference Hall , National Institute of Ocean Technology (NIOT) Velechery -Tambaram Main Road, Pallikaranai, Chennai - 600100</p>

                <!--next div --->
                <div class="head1 mt-3">
                   <h4>EXHIBITION OF PRODUCTS AND SERVICES</h4>
                </div>
                <p>The Conference provides opportunity for Exhibition to display the products and services to the professionals and stakeholders across the wind and solar industry. Those who need exhibition spaces may contact the conference coordinators for booking forms and terms & conditions. The booking will be open untill 30th November 2019</p> 

                <!--next div for list template--->   
                <div class="head1 mt-3">
                   <h4>TARGET PARTICIPANTS</h4>
                </div>
                <div>
                  <ul type="square">
                     <li>Industry Personnel</li>
                     <li>Meteorologists</li>
                     <li>Entrepreneurs</li>
                     <li>Innovators</li>
                     <li>Faculty</li>
                     <li>Research Scholars / Students</li>
                     <li>Scientists and Engineers</li>
                     <!-- <li></li> -->
                  </ul>
                </div>
                
                <!--next div --->
                <div class="head1 mt-3">
                  <h4>LANGUAGE</h4>
                </div>
                <p>The official language of the Conference will be in English</p>
                
                <!--next div --->
                <div class="head1 mt-3">
                    <h4>REGISTRATION PROCEDURE</h4>
                </div>
                <p>The Registration form should be submitted before the deadline of 30th November 2019. Kindly send your nomination / participant details to wsraconference@gmail.com . The registration form can be downloaded from the NIWE website (http://niwe.res.in).</p>
                 <br>               
                <p>Participation is free and there is no registration fee. Hence, the registered participants will be scrutinized based on the relevant credentials.</p>
                 
                <!--next div for sponser (table template)--->
                <div class="head1 mt-3">
                    <h4>CONFERENCE SPONSOR OPPORTUNITIES</h4>
                </div>
                <p>The Conference offers Platinum, Diamond, Gold and Silver sponsorship opportunity. The interested company may contact the Conference Directors.</p>
                <div class="table-responsive">
                  <table class="table table-bordered w-100 mt-3">
                      <tr class="text-center bg-color text-white">
                         <th>Platinum</th>
                         <th>Diamond</th>
                         <th>Gold</th>
                         <th>Silver</th>
                      </tr>
                      <tr class="text-center">
                         <td>5,00,000/- INR</td>
                         <td>3,00,000/- INR</td>
                         <td>2,00,000/- INR</td>
                         <td>1,00,000/- INR</td>
                      </tr>
                  </table>
                </div>

                <!--next div for directors (card tempalte)--->
                <div class="head1 mt-4">
                    <h4>CONFERENCE DIRECTORS :</h4>
                </div>
                <div class="row col-12 mx-auto">
                   <div class="col-md-6 mt-4">
                     <div class="card border-dark td-shd">
                      <div class="table-responsive">
                        
                       <table class="table td-shd mb-0 pb-0">
                             <thead>
                               <tr class="text-center">
                                  <th><h4 class="mb-0 pb-0">K. Boopathi </h4></th>
                               </tr>
                             </thead>
                             <tbody>
                                <tr>
                                    <td>Director & Head</td>
                                </tr>
                                <tr>
                                  <td>Research & Development and Resource Data Analytics & Forecasting and Solar</td>
                                </tr> 
                                <tr>
                                  <td>Radiation Resource Assessment (R&D, RDAF & SRRA) Division, NIWE</td>
                                </tr>  
                                <tr>
                                  <td>boopathi.niwe@nic.in</td>
                                </tr> 
                                <tr>
                                    <td>Ph: +91-44-2246 3993 , +91-9445798004</td>
                                </tr>
                             </tbody>
                        </table>
                      </div>
                     </div>
                   </div>

                   <div class="col-md-6 mt-4">
                     <div class="card border-dark td-shd">
                      <div class="table-responsive">
                       <table class="table td-shd pb-0 mb-0">
                             <thead>
                               <tr class="text-center">
                                  <th><h4 class="mb-0 pb-0">Dr. P. Kanagavel</h4></th>
                               </tr>
                             </thead>
                             <tbody>
                                <tr>
                                    <td>Director & Head</td>
                                </tr>
                                <tr>
                                  <td>Skill Development and Training (SDT) Division, NIWE</td>
                                </tr> 
                                <tr>
                                  <td>Radiation Resource Assessment (R&D, RDAF & SRRA) Division, NIWE</td>
                                </tr>  
                                <tr>
                                  <td>pkanagavel.niwe@nic.in</td>
                                </tr> 
                                <tr>
                                    <td>Ph: +91-44-2246 3994 , +91-9445798007</td>
                                </tr>
                             </tbody>
                        </table>
                        </div>
                     </div>
                   </div>

                </div>

        </div>
        
    </div><!--div close for the main container-->
    
</section>

<!-- footer -->

{% endblock %}
