{% extends 'base.html' %}

{% block meta %}
  <meta name="description" content="2nd PAN-India Research Network Meeting organized by the National Institute of Wind Energy (NIWE), Chennai, bringing together researchers, stakeholders, and experts to discuss wind energy developments, research collaborations, and innovations under MNRE.">
  <meta name="keywords" content="PAN-India Research Network Meeting, NIWE Chennai, MNRE India, wind energy research, renewable energy collaboration, wind sector innovations, NIWE research network, wind power stakeholders, MNRE initiatives, wind energy discussions">
{% endblock %}

{% block title %} PAN -INDIA Research Network Meeting | National Institute of Wind Energy (NIWE), Ministry of New and Renewable Energy, Government of India {% endblock %}

{% block content %}

{% load static %}


<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">PAN -INDIA Research Network Meeting</h1>
    </div>
  </div>
</section>

<section class="main-div" id="divContent">
  <div class="container">
    <div class="col-12 row grd-box mt-5 pb-3 mx-auto">
      <div class="head1">
        <h4>
          Pan India Research Network - "Industry and Academia Amalgamation"
        </h4>
      </div>

      <p class="mt-3">
        Global Wind Day celebrations of National Institute of Wind Energy
        (NIWE), Chennai marked a new beginning with one-day workshop of “Pan
        India Research Network Meeting- Industry and Academia Amalgamation”.
      </p>
      <br />
      <p>
        This workshop is the start of a planned series of interactions between
        the Indian Academia and Wind power industry to create a conducive
        ecosystem to facilitate their amalgamation. Deliberations and
        brainstorming on the Research & Development needs of the Indian wind
        energy sector would help identify the way-forward for the indigenous
        research activities that would facilitate the Indian wind industry march
        to become the global leader in all the facets of the wind energy
        technology. This event was convened with an express intention to create
        a hub of synergy that would lead to Industry identified research
        requirements being taken up for research of national importance through
        a consortia of Academia, with support from MNRE through NIWE. This meet
        also provided an avenue for the Academics to showcase their areas of
        strengths in research.
      </p>
      <br />
    </div>

    <div class="col-lg-5 col-md-7 col-sm-10 col-12 mx-auto mt-5 img-style">
      <div class="card">
        <img src="{% static '/images/img_a.png' %}" class="img-fluid" alt="Decorative image" />
      </div>
    </div>

    <div class="col-12 row grd-box mt-5 pb-3 mx-auto">
      <p>
        The Workshop was inaugurated by Shri. S.K. Soonee, Chairman, R&D Council
        of NIWE & Adviser, Former CEO of POSOCO; Dr. Sanjay Bajpai, Adviser,
        DST, G.O.I; Dr.K.Balaraman, Director General, NIWE and Dr. S.
        Gomathinayagam, Industry Expert & Former DG, NIWE by lighting the
        traditional lamp, in full attendance from the Industry, IWTMA, IWPA,
        WIPPA and Academia from IIT, IISc, NIT & other premier Institutions and
        universities of India .
      </p>
      <br />
      <p>
        The first workshop turned out to be grand success, as stated by the
        Industry & Academia attendees, since it provided the invaluable platform
        for dialogue and open exchange of views and experiences between the
        target groups. The workshop gave a comprehensive overview of the
        technical, financial and policy solutions presently available in India
        and brainstormed for finding solutions to meet the R&D needs of the
        industry. The workshop focused on some of the major issues that concerns
        the India wind power industry and its immediate requirements for
        oriented R&D from academia for Technology Readiness Level (TRL). The aim
        of bringing together all Indian Stakeholders under one roof for a day to
        have fruitful discussions was a success, the workshop deliberations
        stand as testimony to that.
      </p>
    </div>

    <div class="col-lg-5 col-md-7 col-sm-10 col-12 mx-auto mt-5 img-style">
      <div class="card">
        <img src="{% static '/images/img_b-2.png' %}" class="img-fluid" alt="img" />
      </div>
    </div>

    <div class="col-12 row grd-box mt-5 pb-3 mx-auto">
      <p>
        The workshop saw attendance in good numbers (more than 100 participants
        in total) from India Wind power sector, academia, research institutions
        and Indian wind power associations. Industry professionals from M/s.
        Vestas, M/s. Suzlon, M/s. Siemens-Gamesa, M/s. RRB Energy, M/s. ReGen
        powertech, M/s. Leitwind Shriram, M/s. Siva Wind Turbine, M/s. Renew
        Power, M/s. Mytrah Energy, M/s. Enerfra Projects (India), M/s. Siemens
        (Winergy) etc. attended the workshop, highlighted their R&D needs and
        they felt that their interaction with NIWE in the form of MOU to carry
        out various research for helping industry, NIWE & Academia in moving
        forward to achieve the goals. Also, the representatives from the major
        India wind power sector associations namely IWTMA, IWPA and WIPPA also
        attended the workshop and shared their valuable inputs to the forum.
        From the academia, Professors/ Researchers from premium institutions
        such as India Institute of Science, IITs, NITs, NAL (National
        Aeronautical Laboratory, Bangalore) and other premier Institutions &
        Universities spread across the Country attended the workshop and the
        deliberations turned up to be very lively. The workshop saw a lot of
        erudite discussion between the industry professionals and the academic/
        research institutions.
      </p>
      <br />
      <p>
        The brief presentation given by the industry representatives and
        Academic researcher and professors provided the platform for the
        discussion. Most of the industry representatives were surprised with the
        amount of relevant research being carried out by various institutions.
        The Indian wind industry representatives and the academia have placed on
        record their support to be part of this new initiative taken by NIWE,
        Chennai and assured their continuous participation to make this
        endeavour of NIWE a fruitful exercise for the Country and its Make in
        India Movement.
      </p>

      <p>
        The detailed deliberations, presentations made and research focus areas
        would be updated in NIWE website niwe.res.in .
      </p>

      <a href="{% url 'sub_gallery' 39 %}" aria-label="Open Gallery"
        ><button class="btn-3d">Photo Gallery</button></a
      >
    </div>
  </div>
  <!--div close for the main container-->
</section>

<!-- footer -->

{% endblock %}
