{% extends 'base.html' %}

{% block meta %}
  <meta name="description" content="Services page of the National Institute of Wind Energy (NIWE), Chennai, providing details on technical, research, certification, training, and consultancy services offered in the wind energy sector under MNRE.">
  <meta name="keywords" content="NIWE services, NIWE Chennai, MNRE India, wind energy services, renewable energy consultancy, technical support, wind turbine certification, training programs, research services, MNRE initiatives">
{% endblock %}

{% block title %} Services | National Institute of Wind Energy (NIWE), Ministry of New and Renewable Energy, Government of India {% endblock %}

{% block content %}

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Services</h1>
    </div>
  </div>
</section>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="/">Home </a></li>
      <li class="breadcrumb-item active" aria-current="page">Services</li>
    </ol>
  </nav>
</div>

<section class="rnd-div" id="divContent">
  <div class="container">
    <div class="accordion" id="serivces">
      <div class="accordion-item">
        <h2 class="accordion-header" id="serviceOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" 
          data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" >
            General
          </button>
        </h2>
        <div  id="collapseOne"  class="accordion-collapse collapse show"  
        aria-labelledby="serviceOne"  data-bs-parent="#serivces">
          <div class="accordion-body">
            <p>
              NIWE is committed to achieve customer satisfaction, loyalty and
              confidence by providing credible, prompt and complete solutions
              for International Quality to all the Stakeholders in the Wind
              Energy Sector.
            </p>

            <p>
              NIWE, strives to be technical focal point of excellence for the
              present and future and NIWE shall stay at the forefront of Wind
              Turbine Technology application by continuously improving its
              expertise.
            </p>

            <p>
              NIWE a knowledge-based institution of high quality and dedication,
              offers services and seeks to find total solutions for all
              stakeholders across the entire spectrum, of the wind energy
              sector.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="serivcesTwo">
          <button  class="accordion-button collapsed"  type="button"  data-bs-toggle="collapse"  data-bs-target="#collapseTwo"  aria-expanded="false"  aria-controls="collapseTwo">
            Research and Development
          </button>
        </h2>
        <div  id="collapseTwo"  class="accordion-collapse collapse"  
        aria-labelledby="serivcesTwo"  data-bs-parent="#serivces">
          <div class="accordion-body">
            <ul>
              <li>Support multi institutional research on wind energy</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="serivcesThree">
          <button  class="accordion-button collapsed"  type="button" 
           data-bs-toggle="collapse"  data-bs-target="#collapseThree"  
           aria-expanded="false"  aria-controls="collapseThree">
            Certification and Information Technology
          </button>
        </h2>
        <div  id="collapseThree"  class="accordion-collapse collapse"  aria-labelledby="serivcesThree"  data-bs-parent="#serivces">
          <div class="accordion-body">
            <ul>
              <li>
                Type certification of wind turbines based on IS/IEC 61400-22
              </li>
              <li>Inspection of wind turbine and its components</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="servicesFour">
          <button  class="accordion-button collapsed"  type="button"  data-bs-toggle="collapse"  data-bs-target="#collapseFour"  aria-expanded="false"  aria-controls="collapseFour">
            <!-- Testing and Standards & Regulation -->
            Testing
          </button>
        </h2>
        <div  id="collapseFour"  class="accordion-collapse collapse"  aria-labelledby="servicesFour"  data-bs-parent="#serivces">
          <div class="accordion-body">
            <p>
              As per internationally accepted procedures and stipulations for :
            </p>
            <ul>
              <li>Power Performance Measurements</li>
              <li>Load measurements</li>
              <li>Safety and function test</li>
              <li>Yaw efficiency test</li>
              <li>User defined measurements</li>
              <li>
                The services are not limited by type or size of the Wind
                Turbines
              </li>
              <li>
                The services are certified as per the requirements of ISO
                9001:2015 and accredited as per the requirements of ISO/IEC
                17025:2005
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="servicesFive">
          <button  class="accordion-button collapsed"  type="button"  data-bs-toggle="collapse"  data-bs-target="#collapseFive"  aria-expanded="false"  aria-controls="collapseFive">
            Wind Resource Assessment
          </button>
        </h2>
        <div  id="collapseFive"  class="accordion-collapse collapse"  aria-labelledby="servicesFive"  data-bs-parent="#serivces">
          <div class="accordion-body">
            <ul>
              <li>
                Type certification of wind turbines based on IS/IEC 61400-22
              </li>
              <li>Inspection of wind turbine and its components</li>
              <li>
                Standardized Wind Measurement System Configuration - Onshore and
                Offshore
              </li>
              <li>Remote Sensing Device based Measurement</li>
              <li>Integrated Wind & Solar Measurement</li>
              <li>
                Establishing Wind Monitoring Stations, Data collection &
                Analysis.
              </li>
              <li>Site selection for the wind measurements programme.</li>
              <li>
                Wind measurements at the identified sites (long term 1 to 3
                years), analyze the data and submit the report.
              </li>
              <li>
                Allied Wind / Solar resource Data analytics services viz., Data
                Cleaning, Pre / Post processing of data, Data Management System
                with customized dashboard as per customer's requirement.
              </li>
              <li>
                Exploratory Data analysis and report preparation as per
                customer's requirement
              </li>
              <li>
                Wind/Solar power operational forecast system to predict
                wind/solar upto 7-day-ahead. Provision of intraday revision as
                per the CERC norms.
              </li>
              <p>Provide complete solutions for :-</p>
              <li>
                Provide Project Management Consultant (PMC) services for
                establishing the wind farm projects.
              </li>
              <li>
                Preparation of Detailed Project Reports (DPR) for Wind Farm
                Project and it would contain the following Layout of wind farm,
                production, estimate, details of civil engineering and
                electrical work, project implementation plan and project cost
                analysis.
              </li>
              <li>
                Pre-feasibly study for wind farming projects (Micro survey).
              </li>
              <li>Provide Micro-siting services</li>
              <li>Due diligence.</li>
              <li>Preparation & vetting of detailed project reports</li>
              <li>Wind Farm Planning.</li>
              <li>
                Assist in all its wind farming projects in (a) Site evaluation
                and (b) verifying generation estimates.
              </li>
              <li>Preparation of Tender Document.</li>
              <li>
                As an experienced Institute in the discipline of Wind Energy
                Turbine / Wind resource and Assessment, helping in the
                evaluation of tender document work.
              </li>
              <li>Large scale scanning using state-of-the-art tools</li>
              <li>
                Design and implement comprehensive resource assessment
                programmes
              </li>
              <li>Co-ordinate applied research related to wind resource</li>
              <li>RE projects</li>
              <li>Solar EPC contract</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="serivcesSeven">
          <button  class="accordion-button collapsed"  type="button"  data-bs-toggle="collapse"  data-bs-target="#collapseSeven"  aria-expanded="false"  aria-controls="collapseSeven">
            Offshore Wind Development
          </button>
        </h2>
        <div  id="collapseSeven"  class="accordion-collapse collapse"  aria-labelledby="serivcesSeven"  data-bs-parent="#serivces">
          <div class="accordion-body">
            <ul>              
              <li>Facilitation of clearances from Ministries/Departments for studies & surveys 
                and development of offshore wind energy blocks.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="serivcesSix">
          <button  class="accordion-button collapsed"  type="button"  data-bs-toggle="collapse"  data-bs-target="#collapseSix"  aria-expanded="false"  aria-controls="collapseSix">
            Training
          </button>
        </h2>
        <div  id="collapseSix"  class="accordion-collapse collapse"  aria-labelledby="serivcesSix"  data-bs-parent="#services">
          <div class="accordion-body">
            <p>Capable of providing</p>
            <ul>
              <li>Wind Resource Modeling Techniques</li>
              <li>Wind Speed Statistics and Energy Calculations</li>
              <li>Micro-siting and layout of wind farms</li>
              <li>Wind Resource Measurement</li>
              <li>Wind Turbine Technology</li>
              <li>Design and Safety requirements as per standards</li>
              <li>O & M practices</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %} 
