<div class="all-page-tabs">
  <ul class="nav-tab" id="sidebar">
    <li> 
      <a href="{% url 'contact' %}" title="Contact Us">
        Contact Us
      </a>
    </li>
    <li>
      <a href="{% url 'dg_staff' %}" title="Director General Office">
        Director General Office
      </a>
    </li>
    <li>
      <a href="{% url 'staff_cert' %}" title="Certification and Information Technology (C&IT)">
        Certification and Information Technology (C&IT)
      </a>
    </li>
    <li>
       <a href="{% url 'staff_snr' %}" title="Standards & Regulation (S&R)">
         Standards & Regulation (S&R)
       </a>
     </li>

  <li>
      <a href="{% url 'staff_testing' %}" title="Testing">
        Testing
      </a>    
    </li>

    <li>
      <a href="{% url 'staff_rnd' %} " title="Research and Development (R&D)">
        Research and Development (R&D)
      </a>
    </li> 
    <li>
      <a href="{% url 'staff_wra' %}" title="Wind Resource Assessment (WRA)">
        Wind Resource Assessment (WRA)
      </a>
    </li>
    <li>
      <a href="{% url 'staff_sdt' %}" title="Skill Development & Training (SDT)">
        Skill Development & Training (SDT)
      </a>
    </li>
    <li>
      <a href="{% url 'staff_owd' %}" title="Offshore Wind Development (OWD)"> 
        Offshore Wind Development (OWD)
      </a>
    </li>

    <li>
       <a href="{% url 'staff_fin' %}" title="Finance & Administration (F&A)">
         Finance & Administration (F&A)
       </a>
    </li>
  </ul>
</div>
