<div class="depart-side-tabs">
    <ul>
        <li>
            <a href="/academy/" title="Academic"> Academic </a>
        </li>

        <li>
            <a href="{% url 'newsletters' %}" title="Newsletter">
                Newsletter
            </a>
        </li>
        <li>
            <a href="{% url 'annual_reports' %}" title="Annual Reports">
                Annual Reports
            </a>
        </li>
        <li>
            <a href="/library/" title="Library"> Library </a>
        </li>
        <li>
            <a href="/workshop_confrence/" title="Workshop and Conference">
                Workshop and Conference
            </a>
        </li>
        <li>
            <a
                href="/vayumitra_sdt"
                title="Vayumitra Skill Development Programme"
            >
                Vayumitra Skill Development Programme
            </a>
        </li>
        <li>
            <a href="/training_calander/" title="Training Calendar">
                Training Calendar
            </a>
        </li>
        <li>
            <a href="{% url 'national_training' %}" title="National Training">
                National Training
            </a>
        </li>
        <li>
            <a
                href=" {% url 'international_training_list' %}"
                title="International Training"
            >
                International Training
            </a>
        </li>
        <li>
            <a href="/itec/" title="ITEC Training"> ITEC Training </a>
        </li>
        <li>
            <a href="/customize_training/" title="Customized Training">
                Customized Training
            </a>
        </li>
        <li>
            <a href="/webinar/" title="Webinar"> Webinar </a>
        </li>
        <li>
            <a href="/global_wind_day/" title="Global Wind Day">
                Global Wind Day
            </a>
        </li>
        <li>
            <a href="/short_term_course/" title="Short Term Courses">
                Short Term Courses
            </a>
        </li>
        <li>
            <a
                href="/ireda_niwe_annual_awards/"
                title="IREDA - NIWE Awards for Wind Energy"
            >
                IREDA - NIWE Awards for Wind Energy
            </a>
        </li>
        <li>
            <a
                href="{% url 'amrit_mahotsav' %}"
                title="Azadi ka amrit mahotsav"
            >
                Azadi ka amrit mahotsav
            </a>
        </li>
    </ul>
</div>
