{% extends 'base.html' %}

{% block meta %}
  <meta name="description" content="Small Wind Energy and Hybrid Systems for telecom towers by the National Institute of Wind Energy (NIWE), Chennai, discussing technology applications, benefits, and relevance to sustainable telecom infrastructure under MNRE initiatives.">
  <meta name="keywords" content="Small wind energy, hybrid systems, telecom towers, NIWE Chennai, MNRE India, renewable energy solutions, wind power applications, sustainable telecom infrastructure, wind energy technology, MNRE initiatives">
{% endblock %}

{% block title %}Small wind Energy and hybrid systems & its relevance to telecom towers  | National Institute of Wind Energy (NIWE), Ministry of New and Renewable Energy, Government of India {% endblock %}

{% block content %}

{% load static %}

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">
        Small wind Energy and hybrid systems & its relevance to telecom towers
      </h1>
    </div>
  </div>
</section>

<section class="main-div">
  <div class="container">
    <!--SESI awards row-->
    <div class="row col-12 mx-auto">
      <div class="col-md-12">
        <div class="grd-box">
          <div class="mt-4">
            <ol type="1" class="event-list">
              <li class="li-items">
                <a href="/static/pdf/G_Upadhyay.pdf" data-doc>
                  "Brief status of SWES Programme and recent initiatives"<span
                    class=""
                    ><i class="fa fa-file-pdf-o ms-1"  aria-hidden="true"></i
                  ></span>
                </a>
              </li>
              <li class="li-items">
                <a href="/static/pdf/DrGOMS_SWES_WS_Pune1Jul2k16.pdf" data-doc>
                  "Role of CFD and Aerodynamics in micrositing of SWES"<span
                    class=""
                    ><i class="fa fa-file-pdf-o ms-1" aria-hidden="true"></i
                  ></span>
                </a>
              </li>
              <li class="li-items">
                <a href="/static/pdf/JP_Singh.pdf" data-doc>
                  "Strategic approach towards Wind Solar Hybrid Systems (swes)
                  for Remote Telecom sites in India & case study of
                  Rajasthan"<span class=""
                    ><i class="fa fa-file-pdf-o ms-1" aria-hidden="true"></i
                  ></span>
                </a>
              </li>

              <li class="li-items">
                <a href="/static/pdf/Prdip_Rajshike.pdf" data-doc>
                  "Wind Pumps: The Gujarat Experience"<span class=""
                    ><i class="fa fa-file-pdf-o ms-1" aria-hidden="true"></i
                  ></span>
                </a>
              </li>
              <li class="li-items">
                <a href="/static/pdf/Anil_Agarwal_MNRE_Workshop.pdf" data-doc>
                  "Wind Turbine on Telecom Tower (Load Estimation and Structural
                  Design Approach)"<span class=""
                    ><i class="fa fa-file-pdf-o ms-1" aria-hidden="true"></i
                  ></span>
                </a>
              </li>
              <li class="li-items">
                <a href="/static/pdf/DrRajeshKatyal.pdf" data-doc>
                  "Techno Economic Analysis of SWT for Telecom Towers - A case
                  study"
                  <span class=""><i class="fa fa-file-pdf-o ms-1" aria-hidden="true"></i></span>
                </a>
              </li>
              <li class="li-items">
                <a href="/static/pdf/Prabhu_MNREfinal.pdf" data-doc>
                  "Telecom(Mobile)"<span class=""
                    ><i class="fa fa-file-pdf-o ms-1" aria-hidden="true"></i
                  ></span>
                </a>
              </li>
              <li class="li-items">
                <a href="/static/pdf/Deepak_sen_EXIDEMNREJUN16.pdf" data-doc>
                  "Advanced Lead Acid Storage Solutions for Wind/Solar Powered
                  Telecom Towers"<span class=""
                    ><i class="fa fa-file-pdf-o ms-1" aria-hidden="true"></i
                  ></span>
                </a>
              </li>
              <li class="li-items">
                <a href="/static/pdf/KRamchandran_mnre.pdf" data-doc>
                  "State of Art Power Converters for Wind/Solar Powered mobile
                  towers"<span class=""
                    ><i class="fa fa-file-pdf-o ms-1" aria-hidden="true"></i
                  ></span>
                </a>
              </li>
              <li class="li-items">
                <a href="/static/pdf/RajarshiSen_Sen_MNRE_ Pune_ Workshop_1s July 2016.pdf" data-doc>
                  "Wind Solar Battery Hybrid For Mobile Phone Towers (Equipment
                  & System Design)"<span class=""
                    ><i class="fa fa-file-pdf-o ms-1" aria-hidden="true"></i
                  ></span>
                </a>
              </li>
              <li class="li-items">
                <a href="/static/pdf/Amol_Shende.pdf" data-doc>
                  "Small Wind - Solar Hybrid - Case Studies of various
                  Applications"<span class=""
                    ><i class="fa fa-file-pdf-o ms-1" aria-hidden="true"></i
                  ></span>
                </a>
              </li>
              <li class="li-items">
                <a href="/static/pdf/Uday_Kshirsagar.pdf" data-doc>
                  "Small Wind Turbines & Hybrid Systems (Opportunities &
                  Suggestions)"<span class=""
                    ><i class="fa fa-file-pdf-o ms-1" aria-hidden="true"></i
                  ></span>
                </a>
              </li>
              <li class="li-items">
                <a href="/static/pdf/Alex Daniel.pdf" data-doc>
                  "XZERES Corp Presents Wind Solar Hybrid Power Solutions (For
                  Telecom & Broad Cast Towers)"<span class=""
                    ><i class="fa fa-file-pdf-o ms-1" aria-hidden="true"></i
                  ></span>
                </a>
              </li>
              <li class="li-items">
                <a href="/static/pdf/TVenugopal_NIWE_1stJul.pdf" data-doc>
                  "SolarMill a Smart HYBRID Technology TowerMill
                  Application"<span class=""
                    ><i class="fa fa-file-pdf-o ms-1" aria-hidden="true"></i
                  ></span>
                </a>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!--div close for row-->
  </div>
  <!--div close for the main container-->
</section>

<!-- footer -->

{% endblock %}
