{% extends 'base.html' %}

{% block meta %}
  <meta name="description" content="ITEC Training - Feedback page by the National Institute of Wind Energy (NIWE), Chennai, providing evaluations, participant feedback, and insights from international wind energy and renewable energy training programs under MNRE.">
  <meta name="keywords" content="NIWE ITEC training feedback, NIWE Chennai, MNRE India, wind energy training evaluations, renewable energy program feedback, participant reviews, international training insights, wind sector education, MNRE initiatives, NIWE program assessments">
{% endblock %}

{% block title %} ITEC Training - feedback | National Institute of Wind Energy (NIWE), Ministry of New and Renewable Energy, Government of India. {% endblock %}

{% block content %}

{% load static %} 

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">ITEC Training</h1>
    </div>
  </div>
</section>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item">
        <a href="{% url 'departments' %}">Department</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'sdt' %}">Skill Development & Training</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">ITEC Training</li>
    </ol>
  </nav>
</div>

<section class="rnd-div pb-5" id="divContent">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="itec-img-div pe-2">
          <div class="row col-12 ms-auto mb-2 tab-itec-div">
            <div class="col-auto mb-3">
              <a href="/itec/" class="tab-itec" aria-label="ITEC"> ITEC </a>
            </div>

            <div class="col-auto mb-3">
              <a href="{% url 'itec_training' %}" class="tab-itec" aria-label="Training">
                TRAININGS
              </a>
            </div>
            <div class="col-auto mb-3">
              <a href="{% url 'itec_countries' %}" class="tab-itec" aria-label="Countries">
                COUNTRIES
              </a>
            </div>

            <div class="col-auto mb-3">
              <a href="{% url 'itec_feedback' %}" class="tab-itec" aria-label="Feedback">
                FEEDBACK
              </a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
        <div class="row mx-auto mt-4">
                  
        <div class="col-md-9 mt-3 mb-5 mx-auto">
          <h5 class="pt-5"><b> FEEDBACK FROM THE PARTICIPANTS </b></h5>
          <!-- 
            <img src="/static/images/itec-collage.png" alt="img-feeds" />
          -->
          <!-- <video  class="video-player" controls>
            <source src="/static/video/Feedback_for_ITEC_website.mp4" type="video/mp4"  >
          </video>  -->
          <video  class="video-player" controls title="Corporate film about NIWE" style="object-fit:contain; width:100%; ">
              <source src="/static/video/Feedback_for_ITEC_website.mp4" type="video/mp4">
              <track src="/video/feedbackVideo.vtt" kind="captions" srclang="en" label="English">
          </video>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}
