{% extends 'base.html' %}

{% block meta %}
  <meta name="description" content="Report of Customized Training by the National Institute of Wind Energy (NIWE), Chennai, detailing tailored training programs, participants, outcomes, and learning objectives in wind energy and renewable energy under MNRE.">
  <meta name="keywords" content="NIWE customized training report, NIWE Chennai, MNRE India, wind energy training, renewable energy programs, tailored workshops, training outcomes, wind sector learning, NIWE educational initiatives, MNRE initiatives">
{% endblock %}

{% block title %}Report of Customized Training | National Institute of Wind Energy (NIWE), Ministry of New and Renewable Energy, Government of India {% endblock %}

{% block content %}

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">
        {% for national in custom %} {{national.title}} {% endfor %}
      </h1>
    </div>
  </div>
</section>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item">
        <a href="{% url 'departments' %}">Department</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'sdt' %}">Skill Development & Training</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'customize_training' %}">Customized Training</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {% for national in custom %} {{national.title|safe}} {% endfor %}
      </li>
    </ol>
  </nav>
</div>

<section class="dgm-div" id="divContent">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="">
          {% for national in custom %} {{national.data|safe}} {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
