{% extends 'base.html' %}

{% block meta %}
  <meta name="description" content="Academic page of the National Institute of Wind Energy (NIWE), Chennai, providing educational programs, training, workshops, and learning resources in wind energy and renewable energy under MNRE.">
  <meta name="keywords" content="NIWE academic, NIWE Chennai, MNRE India, wind energy training, renewable energy education, workshops, learning resources, NIWE programs, wind power courses, MNRE initiatives">
{% endblock %}

{% block title %} Academic | National Institute of Wind Energy (NIWE), Ministry of New and Renewable Energy, Government of India {% endblock %}

{% block content %}


<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Academic</h1>
    </div>
  </div>
</section>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item">
        <a href="{% url 'departments' %}">Department</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'sdt' %}">Skill Development & Training</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Academic</li>
    </ol>
  </nav>
</div>

<section class="document-div" id="divContent">
  <div class="container ">
    <div class="row">
      <div class="col-md-8">
        <div
          class="tab-pane fade rounded bg-white show"
          id="academic"
          role="tabpanel"
          aria-labelledby="academic"
        >
          <div class="grd-box container">
            <div class="head1 mt-3">
              <h4>Academic</h4>
            </div>
            <p class="mt-4">
              In view of the growing need of qualified manpower in the Wind
              Energy sector both in national/international level there is a need
              to start a masters level course in wind energy in the
              universities/colleges. This may help to get suitable manpower in
              the wind industry/ universities/research institutions. As per the
              direction of the R&D Council of National Institute of Wind Energy
              a syllabus committee has been constituted under the chairmanship
              of Prof. Sujay Basu, Director, school of Energy Studies, Jadavpur
              University, Kolkata to prepare a suitable syllabus, which in-turn
              be recommended to universities / colleges for implementation.
              Accordingly the committee met thrice and finalized the syllabus
              for all of the subjects and electives for a two year Master’s
              Degree course. The prepared syllabus has been forwarded to the
              Ministry of New and Renewable Energy (MNRE), New Delhi for
              consideration and approval and also forwarded to the All India
              Council for Technical Education (AICTE), New Delhi for
              implementation in some of the universities. The Sathyabama Deemed
              University, Chennai is in the process of implementing the Syllabus
              for a M. Tech. Wind Energy Course.
            </p>
          </div>
          <h6 class="font-italic my-4">
            The following table shows the subject coverage of the Syllabus.
          </h6>

          <div class="mx-auto">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    1. SEMESTER I
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse hide"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <ol class="list-group list-group-flush list-group-numbered">
                      <li class="list-group-item d-flex txt-clr">
                        <div class="ms-2">Renewable Energy</div>
                      </li>
                      <li class="list-group-item d-flex txt-clr">
                        <div class="ms-2">Wind Resources</div>
                      </li>
                      <li class="list-group-item d-flex txt-clr">
                        <div class="ms-2">Aerodynamics and Wind Turbines</div>
                      </li>
                      <li class="list-group-item d-flex txt-clr">
                        <div class="ms-2">Wind Electric Generators</div>
                      </li>
                      <li class="list-group-item d-flex txt-clr">
                        <div class="ms-2">Advanced Mathematics</div>
                      </li>
                      <li class="list-group-item d-flex txt-clr">
                        <div class="ms-2">Laboratory / Seminar</div>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    2. SEMESTER II
                  </button>
                </h2>
                <div
                  id="collapseTwo"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <ol class="list-group list-group-flush list-group-numbered">
                      <li class="list-group-item d-flex txt-clr">
                        <div class="ms-2">
                          Foundation and Support Structures
                        </div>
                      </li>
                      <li class="list-group-item d-flex txt-clr">
                        <div class="ms-2">Wind Machine Manufacturing</div>
                      </li>
                      <li class="list-group-item d-flex txt-clr">
                        <div class="ms-2">Energy Economics</div>
                      </li>
                      <li class="list-group-item d-flex txt-clr">
                        <div class="ms-2">Electrical Power System</div>
                      </li>
                      <li class="list-group-item d-flex txt-clr">
                        <div class="ms-2">
                          Power Electronics and Instrumentation
                        </div>
                      </li>
                      <li class="list-group-item d-flex txt-clr">
                        <div class="ms-2">Laboratory / Field Stud</div>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    3. SEMESTER III
                  </button>
                </h2>
                <div
                  id="collapseThree"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <ol class="list-group list-group-flush list-group-numbered">
                      <li class="list-group-item d-flex txt-clr">
                        <div class="ms-2">Environment and Safety</div>
                      </li>
                      <li class="list-group-item d-flex txt-clr">
                        <div class="ms-2">
                          Wind farm Development and Operation
                        </div>
                      </li>
                      <li class="list-group-item d-flex txt-clr">
                        <div class="ms-2">Elective</div>
                        <ol
                          class="list-group list-group-flush list-group-numbered"
                        >
                          <li class="list-group-item d-flex txt-clr">
                            <div class="ms-2">
                              Design of Towers and Blades Structures
                            </div>
                          </li>
                          <li class="list-group-item d-flex txt-clr">
                            <div class="ms-2">
                              Power System Operation and Control
                            </div>
                          </li>
                          <li class="list-group-item d-flex txt-clr">
                            <div class="ms-2">
                              Applied Computational Fluid Dynamics
                            </div>
                          </li>
                          <li class="list-group-item d-flex txt-clr">
                            <div class="ms-2">
                              Wind Turbine Blades Fabrication Technology
                            </div>
                          </li>
                        </ol>
                      </li>
                      <li class="list-group-item d-flex txt-clr">
                        <div class="ms-2">Minor Project</div>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseFour"
                    aria-expanded="false"
                    aria-controls="collapseFour"
                  >
                    4. SEMESTER IV
                  </button>
                </h2>
                <div
                  id="collapseFour"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingFour"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <ol class="list-group list-group-flush list-group-numbered">
                      <li class="list-group-item d-flex txt-clr">
                        <div class="ms-2">Project</div>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
            <!--div close for the accordian div-->
          </div>
          <!--div close for row-->
        </div>
      </div>
      <div class="col-md-4">{% include "side-tab.html" %}</div>
    </div>
  </div>
</section>
{% endblock %}
