
{% load static %}

<div class="about-side-nav">
  <ul class="nav-tab" style="list-style-type: none;">
    <li>
      <a href="/depart_certificate_menu">Introduction</a>
    </li>
    <li>
      <a href="/certificate_scheme"> Certification Scheme</a>
    </li>
    <li>
      <a href="/certification_procedure">Certification procedure </a>
    </li>
    <li>
      <a href="/department_certification_phc">Procedure for Handling Complaints And Appeals </a>
    </li>
    <li>
      <a href="/department_certification_roc">Rights & Obligations of the Clients </a>
    </li>
   
    <li>
      <a href="/department_certification_limitation">Limitations, Restriction and use of Certificates issued by NIWE  </a>
    </li>
    <li>
      <a href="/department_certification_list">List of Certified Model</a>
    </li>
    <li>
      <a href="/static/pdf/NIWE-PCB_Certificate_2024.pdf" data-doc>NIWE-PCB Accreditation certificate</a>
    </li>
   
 
  </ul>
</div>

       
