{% extends 'base.html' %}

{% block meta %}
  <meta name="description" content="Understand the rights and obligations associated with certificates issued by the National Institute of Wind Energy (NIWE), Chennai. This page outlines the responsibilities of certificate holders, proper use of certified wind power systems, sub-systems, and components, and compliance with national and international standards under MNRE.">
  <meta name="keywords" content="NIWE certificate rights, certificate obligations, wind energy certification rules, MNRE compliance, NIWE Chennai, responsibilities of certificate holders, wind power system standards, wind turbine certification obligations, renewable energy certification, NIWE guidelines">
{% endblock %}

{% block title %}Rights and Obligations of Certificates | National Institute of Wind Energy (NIWE), Ministry of New and Renewable Energy, Government of India {% endblock %}

{% block content %}
<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Rights and Obligations of Certificates</h1>
    </div>
  </div>
</section>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="/">Home </a></li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="{% url 'departments' %}">Department</a>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="{% url 'certificate' %}">Certification</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Certification Services
      </li>
    </ol>
  </nav>
</div>

<section class="about-div" id="divContent">
  <div class="container">
    <div class="row">
      <div class="col-md-4">{% include 'certification_sidenav.html' %}</div>
      <div class="col-md-8">
        <div class="dgm-text">
          <!--   -->
          <div>
            <p>
              <b> Before commencement of Pre-Evaluation </b>
            </p>

            <ol style="list-style: disc">
              <li>
                To provide necessary information/documents as mandated by the
                'Application for Certification' provided by NIWE.
              </li>
              <li>
                To provide assistance to the Certification division of NIWE for
                carry out the Pre-Evaluation.
              </li>

              <li>
                To execute a deed of indemnity along with the agreement to
                indemnify NIWE from all damages, loss, expenditures, etc
                incurred by NIWE in the event of violation of the terms and
                conditions by the CLIENT.
              </li>
              <li>
                To provide the confirmation that the claims would only be
                regarding certification consistent with the scope of the
                certification mentioned in the agreement.
              </li>

              <li>
                To provide the acknowledgment on receipt of communication /
                documents from NIWE such as agreement, certificate, project
                final output and the requirements of the certification scheme.
              </li>
            </ol>
          </div>

          <div>
            <p>
              <b> During the Pre-Evaluation </b>
            </p>

            <ol style="list-style: square">
              <li>
                To depute competent technical personnel to assist NIWE
                certification engineers to conduct the Pre-Evaluation.
              </li>
              <li>
                To make a detailed presentation about the codes, standards used
                for the documentation, readiness of the documentation, time
                frame required for documentation submission, changes introduced
                compare with originally certified model in the case of
                recertification, additional requirements, etc.
              </li>
              <li>
                To mutually agree that by virtue of signing pre evaluation
                agreement, there is no binding on any party for signing next
                phase of the certification agreement (i.e) signing the agreement
                for evaluation. The decision on signing the agreement for
                evaluation shall be decided only based on the outcome of
                pre-evaluation and the mutual covenant between the parties.
                Client has rights to take decision on signing the agreement for
                evaluation.
              </li>
            </ol>
          </div>

          <div>
            <p>
              <b>Pre-conditions for the Evaluation Agreement </b>
            </p>

            <ol style="list-style: disc">
              <li>
                To ensure that the content and scope of the documentation are
                complete and satisfactory.
              </li>

              <li>
                To ensure that there are no changes in the design or component
                make of the wind turbine model during the evaluation.
              </li>
              <li>
                To agree that only one wind turbine of each type of the wind
                turbine model is verified unless otherwise specified in the
                written agreement.
              </li>
              <li>
                To abide any amendments. (The rules for the evaluation, during
                the evaluation process will be as per Certification Scheme. NIWE
                shall have the right to add any amendments during the evaluation
                with prior intimation)
              </li>
              <li>
                To provide all the necessary documentation / data / reports
                /information including participation of observers and access to
                the relevant equipment, location(s), area(s), personnel &
                subcontractors for the purpose of evaluation as required by
                Certification Scheme.
              </li>
              <li>
                To make necessary arrangements for carrying out the spot
                inspection of the wind turbine(s), installed of the type covered
                by the agreement and provide all necessary records & access to
                the relevant equipment, location(s), area(s), personnel &
                subcontractors during spot inspection
              </li>

              <li>
                To inform NIWE immediately regarding any change in the
                constitution of the CLIENT in the event of any amalgamation,
                merger or division of the CLIENT during the subsistence of this
                agreement, voluntarily without any follow-up from NIWE
              </li>
              <li>
                To inform NIWE immediately, of changes that may affect its
                ability to conform with the certification requirements such as
                major changes to the Quality Management System, modification to
                the product or the production method, etc. including the change
                in location.
              </li>
              <li>
                The client shall ensure that the wind turbine measurements
                reports / inspection reports submitted to NIWE shall be issued
                by the accredited testing laboratory / inspection body as per
                ISO / IEC17025 / ISO / IEC 17020. In case of the non-accredited
                test reports or inspection reports received from the client,
                NIWE shall verify that the party conducting the testing /
                inspection complies with at least the criteria of ISO / IEC
                17025 / ISO / IEC 17020. The Quality management system of the
                client shall be certified by the accredited system certification
                body as per ISO / IEC 17021.
              </li>

              <li>
                To agree to provide the acknowledgment on receipt of
                communication / documents from NIWE such as agreement,
                certificate, project final output and the requirements of the
                certification scheme.
              </li>
            </ol>
          </div>

          <div>
            <p>
              <b> From the date of signing the Agreement for Evaluation </b>
            </p>
            <ol style="list-style: square">
              <p>
                To adhere the terms and conditions prescribed in Certification
                Scheme.
              </p>

              <p>
                To provide all the necessary information/documents to complete
                the evaluation process, as the documentation requirements of
                certification scheme of NIWE.
              </p>

              <p>
                To report on any failure, damage or breakdown, of the wind
                turbine(s) of the wind turbine model being taken up for
                evaluation in this agreement.
              </p>
            </ol>
          </div>

          <div>
            <p>
              <b> During the Course of Evaluation </b>
            </p>
            <ol style="list-style: disc">
              <li>
                To report on any failure, damage or breakdown of the wind
                turbine(s) of the wind turbine model being taken up for
                evaluation in this agreement immediately without any delay.
              </li>

              <li>
                To provide all the required documentation, reports and
                information necessary for carrying out an evaluation for
                compliance to Certification Scheme, as per the time schedule. To
                Inform the list of wind turbines installed in the field of the
                wind turbine type subjected to evaluation as per the agreement.
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}