{% extends 'base.html' %}
{% block meta %}
  <meta name="description" content="Audit Report for page of the National Institute of Wind Energy (NIWE), Chennai, providing detailed audit findings, financial assessments, and compliance reports for wind energy and renewable energy initiatives under MNRE.">
  <meta name="keywords" content="NIWE audit report, NIWE Chennai, MNRE India, financial audit, wind energy compliance, renewable energy audit, annual audit report, MNRE initiatives, NIWE financial assessment, wind sector audit">
{% endblock %}

{% block title %} Audit Report | National Institute of Wind Energy (NIWE), Ministry of New and Renewable Energy, Government of India {% endblock %}

{% block content %} 

<section class="head-div">
    <div class="overlay d-flex align-items-center">
        <div class="container">
            <h1 class="text-white">Audit Report</h1>
        </div>
    </div>
</section>

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent p-0">
            <li class="breadcrumb-item"><a href="/">Home </a></li>
            <li class="breadcrumb-item"><a href="{% url 'rti' %}">Right To Information</a></li>
            <li class="breadcrumb-item active" aria-current="page">Audit Report</li>
        </ol>
    </nav>
</div>


<section class="main-div py-5 header" id="divContent">
    <div class="container py-1">
        <div class="row col-12 mx-auto">

            <div class="col-md-9 mt-4 order-lg-1 order-2">

                <div class="tab-content" id="v-pills-tabContent"><!--left side tab content-area -->

                    <div class="tab-pane fade rounded bg-white show  active" id="wind-energy" role="tabpanel"
                        aria-labelledby="wind-energy">

                        <div class="row col-12 mx-auto px-0">
                            {% for reports in report %}
                                <div class="col-lg-3 col-md-2 col-sm-6 col-12 mb-3">
                                    {% if reports.pdf_link %}

                                        <a href = "{{reports.pdf_link.url}}" target="_blank">
                                            <div class="card sm-card-design text-center px-3 py-4">
                                                    <h6>{{reports.year}}</h6>  
                                                    {% if reports.documents_info %}                                               
                                                        <i class="fas {{ reports.documents_info.icon }}" aria-hidden="true">                                                 
                                                        {{ reports.documents_info.type }} ,
                                                        {{ reports.documents_info.size }}</i> 
                                                    {% endif %}                                      
                                            </div>
                                        </a>                                
                                    {% else %}
                                        <a href = "{% url 'audit_report_description' year=reports.year %}" target="_blank">
                                            <div class="card sm-card-design text-center px-3 py-4">
                                                    <h6>{{reports.year}}</h6>                                        
                                            </div>
                                        </a> 
                                    {% endif %}

                                </div>
                            {% endfor %}
                            
                        </div><!--div close for row-->
                    </div><!--div close for tab-pane-->
                </div><!--div close for tab content-->
            </div><!--div close for col-md-9-->


        </div>
    </div>
</section>

<!-- footer -->

{% endblock %}