
{% load static %}

<div class="about-side-nav">
  <ul class="nav-tab">
    <li>
      <a href="{% url 'Inspection_menu' %}">Introduction</a>
    </li>
    <li>
      <a href="/Inspection_Scope">Scope</a>
    </li>
    <li>
      <a href="/Inspection_procedure">Inspection Service Process </a>
    </li>
    <li>
      <a href="/Inspection_Complaints">Complaints And Appeals Handling</a>
    </li>
    <li>
      <a href="/Inspection_Impartiality_policy">Impartiality Policy</a>
    </li>
    <li>
      <a href="/static/pdf/NIWE-IB_Certificate_2024.pdf" data-doc target="_blank">NIWE - IB Accreditation Certificate</a>
    </li>
 
  </ul>
</div>

       
