{% extends 'base.html' %}

{% block meta %}
  <meta name="description" content="Staff profile of the Research and Development (R&D) Department at the National Institute of Wind Energy (NIWE), Chennai, featuring experts involved in innovation, wind technology advancement, performance analysis, and renewable energy research under the Ministry of New and Renewable Energy (MNRE).">
  <meta name="keywords" content="NIWE staff profile, Research and Development team, NIWE Chennai, MNRE India, wind energy research, renewable energy scientists, wind turbine innovation, NIWE R&D department, renewable technology experts, wind power research">
{% endblock %}

{% block title %} Staff profile of Research and Development | National Institute of Wind Energy (NIWE), Ministry of New and Renewable Energy, Government of India {% endblock %}

{% block content %}

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Research and Development (R&D)</h1>
    </div>
  </div>
</section>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="/">Home </a></li>
      <li class="breadcrumb-item"><a href="{% url 'contact' %}">Contact Us </a></li>
      <li class="breadcrumb-item active" aria-current="page"> Research and Development (R&D)</li>
    </ol>
  </nav>
</div>

<section class="staff-dev" id="divContent">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12">
        <!-- sidenav bar -->
        {% include 'sidenav.html' %}
      </div>

      <div class="col-md-8 col-12">
        <div class="staff-table">
          <div class="table-responsive">
            <table
              class="table table-bordered table-striped"
              style="margin-top: 20px"
            >
              <thead class="table__head">
                <tr>
                  <th><i class="fa fa-user" aria-hidden="true"></i> Name</th>
                  <th>
                    <i class="fa fa-map-marker" aria-hidden="true"></i> Contact
                  </th>
                </tr>
              </thead>
              <tbody class="table__body">
                {% for staff in rndStaff %}
                <tr>
                  <td>  
              
              <a href="{% url 'rnd_staff_photo' staff.id %}"> {{staff.name}}</a>
                
                    <br />
                    {{staff.position}}
                  </td>

                  <td>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    {{staff.email}}

                    <br />
                    <i class="fa fa-phone" aria-hidden="true"></i
                    >{{staff.phone_number}}
                  </td>
                </tr>
                {% endfor %}
             
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- footer -->

{% endblock %}
