{% extends 'base.html' %}

{% block meta %}
  <meta name="description" content="Staff profile of Certification and Information Technology page of the National Institute of Wind Energy (NIWE), Chennai, providing details of team members, roles, and responsibilities in certification processes and IT support under MNRE.">
  <meta name="keywords" content="NIWE staff profile, Certification and IT team, NIWE Chennai, MNRE India, wind energy certification staff, renewable energy IT team, MNRE initiatives, NIWE team members, wind sector staff details, NIWE IT support">
{% endblock %}

{% block title %} Staff profile of Certification and Information Technology | National Institute of Wind Energy (NIWE), Ministry of New and Renewable Energy, Government of India {% endblock %}

{% block content %} 

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Contact Us</h1>
    </div>
  </div>
</section>
 
<div class="container py-2">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="{% url 'contact' %}">Contact Us</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="{% url 'staff_cert' %}">Certification and Information Technology (C&IT)</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ staff.name }}
      </li>
    </ol>
  </nav>
</div>

<section class="staff-dev pt-4" id="divContent"> 
  <div class="container">
    <div class="row">
      {% for image in photos %}
      <div class="col-md-4 text-center  pt-4 "  >
        <img src="{{ image.photo.url }}" alt="cert_profile_image" />
        <h4 class="pt-2">{{ staff.name }}</h4>
      </div>
      <div class="col-md-8">
        <div class="table-responsive">
        <table class="table table-borderless w-100">
          <tbody>
            <tr>
              <td ><b>Designation :</b></td>
              <td colspan="2">{{image.Designation}}</td>
            </tr> 
            <tr>
              <th scope="row">Qualification :</th>
              <td>{{image.Qualification}}</td>
            </tr>
            <tr>
              <th scope="row">Specialization:</th>
              <td>{{image.Specialization}}</td>
            </tr>
            <tr>
              <th scope="row">Areas of Interest :</th>
              <td>{{image.Areas_Of_Interest}}</td>
            </tr>
            <tr>
              <th scope="row">Year of Joining</th>
              <td>{{image.Year_of_Joining}}</td>
            </tr>
            <tr>
              <th scope="row">Contact No :</th>
              <td>{{image.contact}}</td>
            </tr>
            <tr>
              <th scope="row">Email :</th>
              <td>{{image.email}}</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- footer -->

{% endblock %}
