{% extends 'base.html' %}

{% block meta %}
  <meta name="description" content="Staff profile of the Certification and Information Technology Department at the National Institute of Wind Energy (NIWE), Chennai, featuring team members involved in wind turbine certification, software development, and IT infrastructure management under MNRE.">
  <meta name="keywords" content="NIWE staff profile, Certification and IT team, NIWE Chennai, MNRE India, wind turbine certification experts, renewable energy IT department, NIWE certification division, IT infrastructure, MNRE wind energy certification, NIWE professionals">
{% endblock %}

{% block title %} Staff profile of Certification and Information Technology | National Institute of Wind Energy (NIWE), Ministry of New and Renewable Energy, Government of India {% endblock %}

{% block content %} 

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">
        Certification and Information Technology (C&IT)
      </h1>
    </div>
  </div>
</section>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="/">Home </a></li>
      <li class="breadcrumb-item">
        <a href="{% url 'contact' %}">Contact Us </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Certification and Information Technology (C&IT)
      </li>
    </ol>
  </nav>
</div>

<section class="staff-dev" id="divContent">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12">
        <!-- sidenav bar -->
        {% include 'sidenav.html' %}
      </div>
      <div class="col-md-8 col-12">
        <div class="staff-table">
          <div class="table-responsive">

             <table class="table table-bordered   table-striped" style="margin-top:20px">
                <thead class="table__head">
                    <tr>
                        <th><i class="fa fa-user" aria-hidden="true"></i> Name</th>
                        <th><i class="fa fa-map-marker" aria-hidden="true"></i> Contact</th>

                    </tr>
                </thead>
                <tbody class="table__body">
                  <tr>
                      {% for staff in staffs %}
                          {% if not staff.department %}
                              <tr>
                                  <td>
                                      <a href="{% url 'cert_staff_photo' staff.id %}"> {{staff.name}} </a><br>   
                                      {{ staff.position }}
                                  </td>
                                  <td>
                                      <i class="fa fa-envelope" aria-hidden="true"></i>{{ staff.email }}<br>
                                      <i class="fa fa-phone" aria-hidden="true"></i>{{ staff.phone_number }}
                                  </td>
                              </tr>
                          {% endif %}
                      {% endfor %}
                  </tr>

                  <tr>
                      <td colspan="2">Information Technology</td>
                  </tr>
                                    
                  <tr>
                      {% for staff in staffs %}
                          {% if staff.department == "Information Technology" %}
                              <tr>
                                  <td>
                                      <a href="{% url 'cert_staff_photo' staff.id %}"> {{staff.name}}</a><br>   
                                      {{ staff.position }}
                                  </td>
                                  <td>
                                      <i class="fa fa-envelope" aria-hidden="true"></i>{{ staff.email }}<br>
                                      <i class="fa fa-phone" aria-hidden="true"></i>{{ staff.phone_number }}
                                  </td>
                              </tr>
                          {% endif %}
                      {% endfor %}
                  </tr>

                  <tr>
                    <td colspan="2">Certification</td>
                  </tr>
                  <tr>
                      {% for staff in staffs %}
                          {% if staff.department == "Certification" %}
                              <tr>
                                  <td>
                                    <a href="{% url 'cert_staff_photo' staff.id %}"> {{staff.name}}</a><br>
                                      {{ staff.position }}
                                  </td>
                                  <td>
                                      <i class="fa fa-envelope" aria-hidden="true"></i>{{ staff.email }}<br>
                                      <i class="fa fa-phone" aria-hidden="true"></i>{{ staff.phone_number }}
                                  </td>
                              </tr>
                          {% endif %}
                      {% endfor %}
                  </tr>
                                

                  </tbody>
              </table>
              <br>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- footer -->

{% endblock %}
