{% extends 'base.html' %}

{% block meta %}
  <meta name="description" content="Official Website Policy of the National Institute of Wind Energy (NIWE), Chennai, outlining guidelines, terms of use, privacy practices, and user responsibilities for accessing and using the NIWE website under MNRE.">
  <meta name="keywords" content="website policy NIWE, NIWE Chennai, MNRE India, terms of use, privacy policy, website guidelines, user responsibilities, wind energy website, NIWE official website, renewable energy portal policy">
{% endblock %}

{% block title %} Website Policy | National Institute of Wind Energy (NIWE), Ministry of New and Renewable Energy, Government of India {% endblock %}

{% block content %}

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Website Policy</h1>
    </div>
  </div>
</section>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Website Policy</li>
    </ol>
  </nav>
</div>

<section class="dgm-div" id="div-content">

    <div class="container">
         <!-- Main Heading -->
    <h1 class="mb-4">National Institute of Wind Energy (NIWE) Website Policies</h1>
    
    <!-- Section 1: Copyright Policy -->
    <div class="border-bottom pb-3 mb-4">
        <div class="d-flex align-items-start">
            <div class="me-2">
                <span class="bg-warning d-block" style="width: 6px; height: 100%;"></span>
            </div>
            <div>
                <h3 class="fw-bold">Copyright Policy</h3>
                <p>However, the permission to reproduce this material does not extend to any material on this site which is explicitly identified as being the copyright of a third party. Authorization to reproduce such material must be obtained from the copyright holders concerned.</p>
            </div>
        </div>
    </div>

    <!-- Section 2: Hyperlinking Policy -->
    <div class="border-bottom pb-3 mb-4">
        <div class="d-flex align-items-start">
            <div class="me-2">
                <span class="bg-warning d-block" style="width: 6px; height: 100%;"></span>
            </div>
            <div>
                <h3 class="fw-bold">Hyperlinking Policy</h3>
                <p>At many places in this Website, you shall find links to other websites/portals. These links have been placed for your convenience. 
                  National Institute of Wind Energy (NIWE) is not responsible for the contents and reliability of the linked websites and does not necessarily 
                  endorse the views expressed in them.Mere presence of the link or its listing on this website should not be assumed as endorsement of any kind. 
                  We can not guarantee that these links will work all the time and we have no control over availability of linked pages.<br> 
                  We do not object to you linking directly to the information that is hosted on this website and no prior permission is required for the same. 
                  However, we would like you to inform us about any links provided to this website so that you can be informed of any changes or updations therein. 
                  Also, we do not permit our pages to be loaded into frames on your site. 
                </p>
            </div>
        </div>
    </div>

    <!-- Section 3: Privacy Policy -->
    <div class="border-bottom pb-3 mb-4">
        <div class="d-flex align-items-start">
            <div class="me-2">
                <span class="bg-warning d-block" style="width: 6px; height: 100%;"></span>
            </div>
            <div>
                <h3 class="fw-bold">Privacy Policy</h3>
                <p>This website records your visit and logs the following information for statistical purposes - your server's address;                   
                  the type of browser you use; the date and time you access the site; the pages you have accessed; </p>
            </div>
        </div>
    </div>
     <!-- Section 4: Cookies-->
     <div class="border-bottom pb-3 mb-4">
      <div class="d-flex align-items-start">
          <div class="me-2">
              <span class="bg-warning d-block" style="width: 6px; height: 100%;"></span>
          </div>
          <div>
              <h3 class="fw-bold">Cookies</h3>
              <p>A cookie is a piece of software code that an internet web site sends to your browser when you access information at that site. This site does not use cookies. </p>
          </div>
      </div>
  </div>
</div>
    </div>
  </div>
</section>

{% endblock %}
