{% extends 'base.html' %}

{% block meta %}
  <meta name="description" content="Information about the Web Information Manager at the National Institute of Wind Energy (NIWE), Chennai, responsible for managing website content, updates, and digital information dissemination under the Ministry of New and Renewable Energy (MNRE).">
  <meta name="keywords" content="Web Information Manager NIWE, NIWE Chennai, MNRE India, website content management, digital information, wind energy website, renewable energy portal management, NIWE online updates, wind energy information, website administration">
{% endblock %}

{% block title %} Web Information Manager | National Institute of Wind Energy (NIWE), Ministry of New and Renewable Energy, Government of India {% endblock %}

{% block content %}

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Web Information Manager </h1>
    </div>
  </div>
</section>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Web Information Manager </li>
    </ol>
  </nav>
</div>

<section class="dgm-div" id="div-content">
    <div class="container">    
      
        
        <div class="d-flex align-items-start">
            <div class="me-2">
                <span class="bg-warning d-block" style="width: 6px; height: 100%;"></span>
            </div>
        <div>
        <h3 class="fw-bold">National Institute of Wind Energy - Web Information Manager</h3>
        
            <hr>
            <p style="text-align: justify;">
             Director General
              <br>  National Institute of Wind Energy
               <br> Email: dg[at]niwe[dot]res[dot]in
                <br>Contact No: 044-2246 3981/82/83/84
            </p>        
        
    </div>    
   
   
</section>

{% endblock %}

