{% extends 'base.html' %}

{% block meta %}
  <meta name="description" content="Procedure for purchasing Time Series Wind and Solar Data from the National Institute of Wind Energy (NIWE), Chennai, detailing application steps, data availability, pricing, and guidelines under the Ministry of New and Renewable Energy (MNRE).">
  <meta name="keywords" content="time series wind data purchase, solar data procedure, NIWE Chennai, MNRE India, wind and solar data guidelines, renewable energy data, NIWE data access, wind energy statistics, solar energy information, data purchase procedure">
{% endblock %}

{% block title %} Procedure for purchasing the Time Series Wind/Solar Data | National Institute of Wind Energy (NIWE), Ministry of New and Renewable Energy, Government of India {% endblock %}

{% block content %}

<section class="head-div">
    <div class="overlay d-flex align-items-center">
        <div class="container">
            <h1 class="text-white">
                Procedure for purchasing the Time Series Wind/Solar Data
            </h1>
        </div>
    </div>
</section>

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent p-0">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Procedure for purchasing the Time Series Wind/Solar Data
            </li>
        </ol>
    </nav>
</div>

<section class="dgm-div">
    <div class="container">
        <h3> General Purchase Guidelines: </h3>

        <ol>
            <li>
                NIWE is authorized to sell the raw/processed data for both Indians and Foreign Buyers and the amounts
                received will be credited in the NIWE accounts.

            </li>
            <li> Data provided to parties would be for their exclusive use only and under no circumstances, these data,
                in full, part or in any other form, is to be disclosed/distributed/copied/reproduced/transferred to
                other agencies either electronically or in physical form. </li>
            <li> The cost of various Wind/Solar Data products are as follows </li>
        </ol>
        <p> The cost for Wind data product is as follows: </p>

        <div class="row col-12 mx-auto">
            <div class="col-md-8">

                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th rowspan="2"> S.NO </th>
                            <th rowspan="2"> Data Product </th>
                            <th colspan="2"> Amount (Rs)* (Except GST)</th>
                        </tr>
                        <tr>
                            <th> Commercial Entities</th>
                            <th> Academic and Indian Institutions </th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1 </td>
                            <td> Ten minute-per year-120M mast </td>
                            <td> 2.5 Lakhs </td>
                            <td> 1.25 Lakhs</td>
                        </tr>
                        <tr>
                            <td>2 </td>
                            <td> Ten minute-per year-100M mast</td>
                            <td> 2.0 Lakhs </td>
                            <td> 1.0 Lakhs</td>
                        </tr>
                        <tr>
                            <td> 3</td>
                            <td>Ten minute-per year-80M mast </td>
                            <td>0.55 Lakhs </td>
                            <td>0.275 Lakhs</td>
                        </tr>
                        <tr>
                            <td> 4</td>
                            <td> Ten minute-per year-50M mast </td>
                            <td>0.25 Lakhs</td>
                            <td>0.125 Lakhs </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Ten minute-per year-20M mast </td>
                            <td>0.20 Lakhs</td>
                            <td>0.10 Lakhs</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <p>The cost for various Solar data products are as follows:</p>
        <div class="row col-12 mx-auto">
            <div class="col-md-10">

                <table class="table table-bordered text-left">
                    <thead>
                        <tr>
                            <th rowspan="2"> S.NO </th>
                            <th rowspan="2"> Data Product </th>
                            <th colspan="3"> Amount (Rs)* (Except GST)</th>
                        </tr>
                        <tr>
                            <th> Commercial Entities</th>
                            <th> Academic and Research Indian Institutions </th>
                            <th> Foreign Users ($) </th>


                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1 </td>
                            <td>One minute, 10 minute, hourly ASCII data -per day </td>
                            <td>250 </td>
                            <td>125</td>
                            <td> 10</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Monthly & daily average data - based on one minute data - per month </td>
                            <td>2,500 </td>
                            <td>2,500 </td>
                            <td>70</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td> One minute, Ten minute, hourly data (ASCII) -per month </td>
                            <td>6,250 </td>
                            <td>3,125 </td>
                            <td> 125</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>One minute, Ten minute, hourly data (ASCII) -per year </td>
                            <td>62,500 </td>
                            <td> 31,250</td>
                            <td>1250 </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td> Climatological monthly average (kWh/m2 /d) GHI, DNI & DHI data set for one
                                co-ordinate/grid code (3x3 km spatial resolution) based on 16 years data - MS-Excel
                                format </td>
                            <td>10,000 </td>
                            <td>5,000 </td>
                            <td> 250</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Monthly Average GHI, DNI & DHI data set for one co-ordinate/grid size (3kmX3km spatial
                                resolution) for individual 16 years - MS-Excel format </td>
                            <td>10,000</td>
                            <td>5,000</td>
                            <td>250</td>
                        </tr>
                    </tbody>
                </table>
                <p>* GST at the rate of 18%</p>
            </div>
        </div>

        <h6>Step 1: Data request</h6>
        <div class="ps-4">
            <p>The applicant needs to send the copy of filled in data request form along with the GST certificate 
                <a href="/static/pdf/Data_Purchase_form.pdf" target="_blank">[ Click here to download ]  </a>
                through email/post <br>to <b>Wind Resource Assessment (WRA).</b>
            </p>
            <p> <b>Shri.Bhukya Ramdas </b><br>
                Deputy Director (Technical) and Division Head (i/c)<br>
                Wind Resource Assessment (WRA)<br>
                National Institute of Wind Energy (NIWE)<br>
                (Formerly known as " Centre for Wind Energy Technology " under the Ministry of New and Renewable Energy),
                Government of India<br>
            
                Velachery - Tambaram Main Road,<br>
                Pallikaranai, Chennai - 600 100<br>
                E-Mail ID: <b>bhukyaramdas[at]niwe[dot]res[dot]in , wra[at]niwe[dot]res[dot]in, rdaf[at]niwe[dot]res[dot]in </b><br>
                Phone No: 044-2246 3982/83/84</p>
        </div>

        <h6>Step 2: Data Availablity Report</h6>
        <div class="ps-4">
            <p>After receiving the data request from the applicant, the data availability report along with processing
                fee will be communicated to the applicant within 5 working days by NIWE.
            </p>
        </div>

        <h6> Step 3: Payment</h6>
        <div class="ps-4">
            <p>After going through the data availability report and costing, If the applicant is interested to purchase
                the data, the applicant can make full payment in advance [ <a href="/static/pdf/RTGS_document-sb_account.pdf" target="_blank">click here to download the payment document</a> ].
                After making necessary payment, a copy of payment confirmation shall be sent to Director and Division
                Head, Wind Resource Assessment (WRA) <b>[bhukyaramdas[at]niwe[dot]res[dot]in] </b>with CC to Additional Director & Division
                Head, Finance & Administration <b>[directorfa[at]niwe[dot]res[dot]in ]</b>
            </p>
        </div>

        <h6>Step 4: Download data</h6>
        <div class="ps-4">
            <p>After receipt of full payment in advance, the Raw time series data, as per the data availability report
                would be shared to the Applicant through a dedicated Email/FTP with username and password within 5
                working days. The access credentials will be shared to the applicant's Email.
            </p>
        </div>






    </div>

</section>

{% endblock %}